section.product-description {
	padding: 50px 0 100px 0;

	@include tablet-portrait {
		padding: 120px 0 130px 0;
	}

	.wrapper {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		& > * {
			width: 100%;

			@include mobile-landscape {
				width: 50%;
			}
		}
	}

	.photo {
		img {
			width: 100%;
		}
	}

	.info {
		padding-bottom: 50px;

		@include tablet-portrait {
			padding-bottom: 0;
			padding-right: 50px;
		}

		@include tablet-landscape {
			padding-right: 100px;
		}
	}

	.copy {
		p {
			line-height: 2em;

			& + p {
				padding-top: 30px;
			}
		}
	}

	.links {
		padding-top: 60px;
		display: flex;
		justify-content: space-between;
	}
}