section.features {
	padding-bottom: 80px;

	@include tablet-portrait {
		padding-bottom: 160px;
	}

	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		flex-wrap: wrap;

		& > * {
			width: 100%;

			@include mobile-landscape {
				width: 50%;
			}
		}
	}

	.photo {
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.info {
		background: $black;
		color: $white;
		padding: 40px;
		display: flex;
		align-items: center;

		@include tablet-portrait {
			padding: 60px 20px 60px 60px;
		}
	}

	.headline {
		padding-bottom: 10px;

		h3 {
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: 0.02em;
			font-size: 1.5rem;

			@include tablet-landscape {
				font-size: 2rem;
			}
		}
	}

	.sub-headline {
		padding-bottom: 30px;

		h4 {
			font-size: 1.25rem;
		}
	}

	.copy {
		ul {
			list-style-type: disc;
			font-size: 0.9375rem;
			line-height: 1.25em;
			padding-left: 20px;

			li + li {
				padding-top: 20px;
			}
		}
	}



}