section.hero-video {

	.info {

		.headline {
			padding-bottom: 50px;
			max-width: 420px;

			@include tablet-landscape {
				max-width: 614px;
			}

			img {
				width: 100%;
			}
		}

		.sub-headline {
			padding-bottom: 30px;

			h3 {
				text-transform: uppercase;
				font-weight: 900;
				font-size: 1.75rem;

				@include tablet-portrait {
					font-size: 2.5rem;
				}
			}
		}

		.copy {
			padding-bottom: 40px;
			max-width: 671px;
		}

		.image {
			max-width: 460px;
		}

		&.optimum {
			.copy {
				max-width: 736px;
			}
		}

		&.momentum {
			.copy {
				max-width: 754px;
			}
		}

	}
}