section.options {
	padding: 50px 0;
	background: $off-white;

	@include tablet-portrait {
		padding: 100px 0 160px 0;
	}

	.headline {
		padding-bottom: 20px;

		h2 {
			font-weight: 900;
		}
	}

	.copy {
		padding-bottom: 3rem;

		@include tablet-portrait {
			padding-bottom: 6rem;
			display: flex;
			justify-content: space-between;
		}

		.col {
			@include tablet-portrait {
				width: 45%;
				max-width: 535px;
			}

			& + .col {
				padding-top: 20px;

				@include tablet-portrait {
					padding-top: 0;
				}
			}
		}

		p {
			line-height: 2em;

			& + p {
				padding-top: 20px;
			}
		}
	}






	.option {
		text-align: center;
		background: $white;
		border-radius: 4px;
		box-shadow: 0 2px 15px rgba(0,  0, 0, 0.2);
		padding: 40px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		border: 2px solid $white;
		transition: all 0.3s ease-in;

		@include tablet-landscape {
			padding: 60px;
		}

		& * {
			opacity: 0.7;
			transition: all 0.5s ease-in;
		}

		&.active,
		&:hover {
			
			& * {
				opacity: 1;
			}

			&.ultimate {
				border-color: #FF0000;
			}

			&.optimum {
				border-color: #0FBA00;
			}

			&.momentum {
				border-color: #0032A0;
			}
		}

		&.active {
			@include mobile-landscape {
				transform: scale(1.1);
			}			
		}

		.series-name {
			padding-bottom: 30px;
			border-bottom: 1px solid #979797;

			h4 {
				text-transform: uppercase;
				font-size: 1.75rem;				

				@include tablet-portrait {
					font-size: 2rem;
				}
			}
		}

		.compute-module-name {
			padding: 30px 0;
			border-bottom: 1px solid #979797;

			h5 {
				font-weight: 400;
				font-size: 1.125rem;
			}
		}

		.module-options {
			padding-top: 30px;
			margin-bottom: auto;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 0;

			.module {
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 10px;

				&:nth-child(2) {
					border-left: 1px solid #979797;
				}

				&:nth-child(3) {
					border-top: 1px solid #979797;
				}


				&:nth-child(4) {
					border-top: 1px solid #979797;
					border-left: 1px solid #979797;
				}

				p {
					font-size: 0.875rem;
					line-height: 1.25em;
				}
			}
		}

		.options-3 {
			.module-3 {
				border-top: 1px solid #979797;
				grid-column: 1 / -1;
			}
		}
	
		.options-5 {
			.module-5 {
				border-top: 1px solid #979797;
				grid-column: 1 / -1;
			}
		}
	}


}