section.tech-specs {
	padding: 50px 0;
	background: $white;

	@include tablet-portrait {
		padding: 100px 0 160px 0;
	}

	.section-header {
        text-align: left;
        grid-column: 1 / -1;
        padding-bottom: 0;

		h4 {
			font-weight: 900;
            color: $blue;
            font-size: 1.5rem;
		}
	}

    .tables{
        display: grid;
        gap: 2rem;
        
        @include desktop {
            grid-template-columns: repeat(2, 1fr);
        }

       
    }

    .spec-table {
        & + .section-header {
            padding-top: 3rem;

            @include desktop {
                padding-top: 6rem;
            }
        }

        &.full-width {
            @include desktop {
                grid-column: 1 / -1;
            }

            td:nth-child(1) {
                width: auto !important;
            }
        }

        table {
            width: 100%;

            thead {
                th {
                    background: $black;
                    color: $white;
                    text-align: left;
                    padding: 0.75rem;
                    font-size: 0.75rem;

                    @include tablet-landscape {
                        font-size: 1rem;
                    }
                }
            }

            tbody {
                tr {
                    &:nth-child(even) {
                        background: $light-blue;
                    }
                }

                td {
                    font-size: 0.75rem;
                    padding: 0.75rem;

                    @include tablet-landscape {
                        font-size: 0.875rem;
                    }

                    &:nth-child(1) {
                        width: 40%;
                    }

                    &.sub-table {
                        padding: 0;

                        tr {
                            display: flex;
                        }

                        td {
                            padding: 0.75rem;
                            text-align: left;
                            width: 25%;

                            &:first-of-type {
                                width: 15%;
                            }

                            &:last-of-type {
                                width: 35%;
                            }
                        }
                    }
                    .sub-table-header{
                        td {
                            background: $black;
                            color: $white;
                            font-weight: bold;
                            padding: 0.5rem 0.75rem;
                        }
                    }
                }


            }
        }

        .note {
            padding-top: 0.5rem;

            span {
                font-size: 0.875rem;
                font-style: italic;
            }
        }
        
    }

    &.ultimate {
        .spec-table table thead th,
        .spec-table table tbody td .sub-table-header td {
            background: #FF0000;
        }
    }

    &.optimum {
        .spec-table table thead th,
        .spec-table table tbody td .sub-table-header td {
            background: #0FBA00;
        }
    }

    &.momentum {
        .spec-table table thead th,
        .spec-table table tbody td .sub-table-header td {
            background: #0032A0;
        }
    }
}