body.error404 {
	section#main {
		min-height: 60vh;
		padding: 100px 0;

		article {
			h2 {
				font-size: 2em;
				text-transform: uppercase;
				letter-spacing:  0.05em;
				padding-bottom: 20px;
			}

			p {
				font-size: 1.25em;
				line-height: 1.25em;
			}
		}
	}
}