body.page-template-api-docs {

    section.hero {
        border-bottom: 1px solid $blue;
        padding: 3rem 0;

        .photo {
            img {
                object-position: right center;
                filter: brightness(0.5);

                @include mobile-landscape {
                    filter: brightness(1);
                    object-position: center center;
                }
            }

        }

        .headline {
            padding: 0;

            h1 {
                text-transform: uppercase;
                font-size: 3rem;

                @include tablet-portrait {
                    font-size: 5rem;
                }
            }
        }

        .sub-headline {
            padding: 0;

            @include tablet-portrait {
                margin-top: -0.5rem;

            }

            h2 {
                text-transform: uppercase;
                font-size: 1.5rem;

                @include tablet-portrait {
                    font-size: 2.5rem;
                }
            }
        }

        .copy {
            padding: 1rem 0 0 0;
            max-width: 540px;

            p {
                font-size: 1rem;
                line-height: 1.5em;

                @include tablet-landscape {
                    font-size: 1.125rem;
                }
            }
        }

        .ctas {
            display: flex;
            align-content: flex-end;
            flex-wrap: wrap;
            padding-top: 3rem;
            max-width: 100%;

            .cta {
                padding: 0;
                width: 100%;

                @include mobile-landscape {
                    width: auto;
                }

                & + .cta {
                    margin-top: 1rem;

                    @include mobile-landscape {
                        margin-top: 0;
                        margin-left: 2rem;
                    }

                }

                .blue-btn {
                    border: 1px solid $blue;
                    padding: 0.875rem 1.75rem 0.75rem 1.75rem;
                    text-align: center;
                    font-size: 1rem;
                    min-width: 16rem;

                    &:hover {
                        background: $white;
                        color: $blue;
                        border-color: $white;
                    }


                    &.outline {
                        background: transparent;

                        &:hover {
                            background: $blue;
                            color: $white;
                            border-color: $blue;

                        }
                    }

                }
            }
        }
    }
	
}