body.post-type-archive-customer_stories {

	section.hero {
		.copy {
			max-width: 525px;
		}
	}

	section.case-studies {
		padding: 50px 0 50px 0;

		@include tablet-portrait {
			padding: 100px 0 160px 0;
		}

		.case-studies-grid {
			@include three-col-grid;
		}

		.case-study {
			.headline {
				padding: 10px 0 0 0;

				h3 {
					font-size: 1em;

					@include tablet-landscape {
						font-size: 1.25em;
					}
				}
			}

			.copy {
				padding-top: 10px;
			}
		}

	}
	
}