body.post-type-archive-resources {

	section.hero .info .copy {
		max-width: 600px;
	}

	section.documents {

		.alm-reveal {
			@include three-col-grid;
		}


		.alm-load-more-btn.done {
			display: none;
		}

		.document-list {
			padding: 100px 0;

			@include tablet-portrait {
				padding: 120px 0 160px 0;
			}

			&:nth-child(even) {
				background: $very-light-gray;
			}
		}


		.headline {
			padding-bottom: 30px;
		}

		.resource {

			&-file {
				a {
					display: flex;

					&:before {
						display: block;
						content: '';
						background: url(images/resource-icon.svg) no-repeat 0 0;
						width: 19px;
						height: 24px;
						margin-right: 16px;
					}

					.info {
						flex: 1;
					}
				}

				.headline {
					padding-bottom: 10px;
					text-align: left;

					h5 {
						color: $blue;
					}
				}				
			}


			&-blog {
				.photo {
					@include aspect-ratio(16, 9);

					a {
						display: block;
						width: 100%;
						height: 100%;

						img {
							object-fit: cover;
							width: 100%;
							height: 100%;
						}
					}
				}
				.info {
					padding-top: 20px;
				}
				.headline {
					padding-bottom: 10px;
					text-align: left;

					.time {
						color: $slate;
					}

					h5 a {
						color: $blue;
					}
				}	
			}

			&-video {
				.thumbnail {
					a {
						&:before {
							display: block;
							content: '';
							position: absolute;
							top: 0;
							right: 0;
							bottom: 0;
							left: 0;
							z-index: 1;
							background: rgba(0, 0, 0, 0.25);
							width: 100%;
							height: 100%;
						}
					}
				}

				.caption {
					padding-top: 10px;
					text-align: center;

					p {
						font-style: italic;
						font-size: 0.875em;
					}
				}
			}
		}
	}

}