body.page-template-careers {

	section.careers-info {
		padding: 50px 0;

		@include tablet-landscape {
			padding: 100px 0;
		}

		.headline {
			padding-bottom: 25px;
		}

		.copy {
			@include tablet-portrait {
				columns: 2;
				column-gap: 80px;
			}

			p {
				padding-bottom: 0;
				margin-bottom: 30px;
			}
		}
	}

	section.job-listings {
		padding: 0 0 50px 0;

		@include tablet-landscape {
			padding: 0 0 100px 0;
		}
	}	
}