body.page-template-contact {

	section.contact-info {
		padding: 50px 0;

		@include tablet-landscape {
			padding: 50px 0 100px 0;
		}

		.wrapper {
			@include tablet-portrait {
				display: flex;
				justify-content: space-between;

				.photo {
					width: calc(66.6666% - 25px);
				}

				.info {
					width: calc(33.3333% - 25px);
					padding-bottom: 0;
				}
			}
		}

		.info {
			padding-bottom: 50px;

			h4 {
				padding-bottom: 5px;
			}

			p + h4 {
				padding-top: 20px;
			}

			a:hover {
				text-decoration: underline;
			}
		}
	}


	section.map {
		padding-bottom: 50px;

		@include tablet-portrait {
			padding-bottom: 100px;
		}

		.map-view-wrapper {
			@include aspect-ratio(4, 3);
		}

		iframe {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}


}