.site-footer {
	background: $black;
	color: $white;
	padding: 50px 0;

	@include tablet-landscape {
		padding: 100px 0;
	}

	a {
		color: $white;

		&:hover {
			text-decoration: underline;
		}
	}

	section.logo {
		padding-bottom: 50px;
	}

	section.columns {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		.col {
			width: 100%;

			& + .col {
				padding-top: 50px;

				@include tablet-portrait {
					padding-top: 0;
				}
			}

		}

		.col-header {
			padding-bottom: 20px;

			h4 {
				font-size: 0.875em;
				text-transform: uppercase;
				font-weight: bold;
				letter-spacing: 0.05em;
				opacity: 0.5;

				&:after {
					content: '';
					display: block;
					width: 25px;
					height: 2px;
					background: $white;
					margin-top: 10px;
				}
			}
		}

		.navigation {
			max-width: 480px;

			@include tablet-portrait {
				width: 50%;
			}

			.links {
				@include mobile-landscape {
					columns: 2;
				}
				.link {
					padding-bottom: 10px;

					a {
						font-weight: bold;
						font-size: 0.875em;
					}
				}
			}

		}

		.contact {

			@include tablet-portrait {
				width: 25%;
			}

			@include desktop {
				width: 16.6666%;
				margin-left: auto;
			}

			p {
				font-weight: bold;
				font-size: 0.875em;
				line-height: 1.7em;

				& + p {
					padding-top: 20px;
				}
			}

		}

		.badges {
			padding-top: 2rem;
			display: grid;
			gap: 2rem;
			grid-template-columns: repeat(2, 1fr);
			max-width: 15rem;

			@include tablet-portrait {
				max-width: 10rem;
			}

            .badge {
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }

		.social {

			@include tablet-portrait {
				padding-top: 50px !important;
			}

			@include tablet-landscape {
				width: 25%;
				padding-top: 0 !important;
			}

			@include desktop {
				width: 16.6666%;
			}

			.social-links {
				display: flex;
				align-items: center;

				.link {

					& + .link {
						padding-left: 20px;
					}
					a {
						display: block;

						img {
							width: 100%;
							height: 100%;
							max-height: 18px;
							max-width: 24px;
							object-fit: contain;
						}

						&.twitter {
							img {
								max-height: 16px;
								max-width: 20px;
							}
						}

						&.youtube {
							img {
								max-height: 22px;
								max-width: 26px;
							}
						}
					}
				}

			}
		}

	}

	section.copyright {
		margin-top: 50px;
		border-top: 1px solid rgba(255, 255, 255, 0.25);
		padding-top: 20px;

		p {
			font-size: 0.75em;
			opacity:  0.5;
		}

	}
	

}