.site-header {
	padding: 25px 0;
	background: $black;

	@include tablet-portrait {
		position: sticky;
		z-index: 100;
		top: 0;
	}

	.wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.logo {
		a {
			display: block;
			max-width: 100px;

			@include tablet-portrait {
				max-width: 143px;
			}			

			img {
				width: 100%;
			}
		}
	}

	.hamburger {
		padding-left: 20px;

		@include tablet-landscape {
			display: none;
		}
	}

	.nav-trigger {
		display: block;
		width: 35px;
	    cursor: pointer;
	    padding: 8px 0;
	    transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
	    z-index: 10001;

		.patty {
		    width: 35px;
		    height: 3px;
		    background: $blue;
		    border-radius: 2px;
		    transition: all 0.3s;
		    margin-left: auto;

			&:after, &:before {
			    content: '';
			    display: block;
			    width: 35px;
			    height: 3px;
			    background: $blue;
			    position: absolute;
			    z-index: 1;
			    transition: all 0.3s;
			    border-radius: 2px;
			}
			&:before {
			    top: -8px;
			}
			&:after {
			    top: 8px;
			}
		}
	}

	.main-links {
		display: none;

		@include tablet-landscape {
			display: flex;
			align-items: center;
			justify-content: center;
			transition: opacity 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
			flex: 1;

			.link {
				padding-bottom: 1rem;
				padding-top: 1rem;

				& + .link {
					padding-left: 30px;
				}
			}

			a {
				font-size: 0.875em;
				color: $white;
			}
		}

		@include desktop {
			.link {
				& + .link {
					padding-left: 40px;
				}
			}

			a {
				font-size: 1rem;
			}
		}

		.dropdown-nav {
			transition: opacity 0.3s ease-in;
			opacity: 0;			
			z-index: -1;
			display: none;
			position: absolute;
			top: 2rem;
			left: 2rem;
			background: $black;
			padding: 1.5rem 2rem;
			
			min-width: 18rem;
			border-radius: 5px;
			box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);

			.sub-link {
				padding: 0.75rem 0;
			}
		}

		.dropdown-link {
			&:hover {
				cursor: pointer;

				.dropdown-nav {
					display: block;
					opacity: 1;
					z-index: 100;
				}
			}
		}


	}

	.demo-cta {
		display: none;

		@include mobile-landscape {
			display: block;
			margin-left: auto;
		}
	}

	.contact-cta {
		display: block;
		margin-left: auto;


		@include desktop {
			.blue-btn {
				min-width: 154px;
				text-align: center;
			}
		}
	}

}

