body.blog {

	section.hero {
		max-height: 465px;

		.headline,
		.copy {
			max-width: 480px;
		}
	}

	section.recent {

		.wrapper {
			max-width: 640px;

			@include tablet-landscape {
				max-width: 1200px;
			}
		}

		article.featured-post {
			padding-bottom: 50px;

			@include tablet-landscape {
				padding-bottom: 0;
			}
		}

		.recent-posts {
			background: $off-white;
			padding: 40px;
			border-radius: 4px;

			article {
				flex-wrap: wrap;

				.photo {
					max-width: 100px;
				}

				.copy {
					padding-top: 10px;
					width: 100%;

					p {
						font-size: 0.9375em;
						line-height: 1.5em;

						@include tablet-landscape {
							font-size: 0.9375em;
						}
					}
				}
			}
		}
	}

	section.all-posts {
		padding: 50px 0;
		background: $off-white;

		@include tablet-portrait {
			padding: 100px 0;
		}

		.grid {
			grid-gap: 100px 50px;
			grid-template-columns: repeat(1, 1fr);

			@include tablet-portrait {
				grid-template-columns: repeat(2, 1fr);
			}

			@include tablet-landscape {
				grid-template-columns: repeat(3, 1fr);
			}
		}

		article {
			background: $white;
			border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;
			box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);

			.photo {
				a {
					display: block;
					@include aspect-ratio(4, 3);

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						border-top-left-radius: 4px;
						border-top-right-radius: 4px;
					}
				}
			}

			.info {
				border-top: 2px solid $off-white;
				padding: 40px;

				.headline {
					padding-bottom: 15px;
					
					h5 a:hover {
						text-decoration: underline;
					}
				}
			}
		}

		.ajax-load-more-wrap {
			.alm-btn-wrap {
				padding-top: 100px;
			}
		}
	}
}