.cmo {
    padding-top: 19px;

    * {
        text-rendering: unset;
        -webkit-font-smoothing: auto;
    }

    .position-name {
        font-family: $nimbus-sans;
        font-weight: 400;
        font-size: 22.4px;
        line-height: 1em;
        padding-bottom: 10px;

        a {
            color: #5d6b76;
        }
    }

    .position-meta {
        font-family: $nimbus-sans-light;
        font-weight: 200;
        color: #8d9aa5;
        font-size: 15.4px;
        line-height: 1em;
        display: flex;
        align-items: center;

        .fa-map-marker {
            background: url(images/map-marker.png) no-repeat 0 0;
            background-size: 100%;
            width: 9px;
            height: 14px;
            display: inline-block;
            margin: 0 0.35rem;
        }
    }
}

body.page-template-job-listing {
    article {
        max-width: 720px;
    }
}