body.page-template-landing-page {

	section.landing-page {
		padding-bottom: 50px;

		@include tablet-portrait {
			padding-bottom: 100px;
		}
	}

	section.hero {
		max-height: 300px;

		@include tablet-landscape {
			max-height: 500px;
			margin-bottom: 50px;
		}

		.info {
			align-items: flex-end;
			padding-bottom: 25px;

			@include tablet-landscape {
				padding-bottom: 50px;
			}
		}
	}

	section.copy-section {
		padding: 50px 0;

		.wrapper {
			max-width: 640px;
		}
	}


	section.two-col-layout {
		padding: 50px 0;

		.wrapper {
			@include tablet-landscape {
				max-width: 1024px;
			}
		}

		.row {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			align-items: center;

			& + .row {
				padding-top: 50px;
			}

			.info,
			.photo {
				width: 100%;

				@include tablet-portrait {
					width: calc(50% - 25px);
				}

			}

			.photo {
				padding-bottom: 50px;

				@include tablet-portrait {
					padding-bottom: 0;
				}

				img {
					max-width: 150px;
					margin: 0 auto;

					@include tablet-portrait {
						max-width: 300px;
					}
				}
			}

			.info {
				.headline {
					padding-bottom: 20px;

					& > * {
						color: $blue;
					}
				}

				.copy {
					ul {
						padding-left: 20px;
					}
				}
			}

			&:nth-child(even) {
				@include tablet-portrait {
					.info {
						order: -1;
					}
				}
			}

		}
	}


	section.form {
		padding-bottom: 50px;

		.wrapper {
			max-width: 500px;
		}

		.info {
			background: $blue;
			color: $white;
			padding: 20px;

			@include tablet-portrait {
				padding: 40px;
			}			

			.copy {
				padding: 10px 0 20px 0;
			}

			form {
				input, select {
					appearance: none;
					border-radius: 0;
					border: none;
					font-size: 0.875em;
					font-weight: bold;

					@include placeholder {
						color: $black !important;
						opacity: 1;
					}
				}

				.wpforms-field-select {
					position: relative;

					&:after {
						display: block;
						content: '';
						position: absolute;
						right: 10px;
						top: 25px;
						z-index: 1;
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 8px 7px 0 7px;
						border-color: $slate transparent transparent transparent;					
					}				
				}
			}

			div.wpforms-container-full .wpforms-form button[type=submit] {
				background: transparent;
				border: none;
				display: inline-block;
				font-weight: bold;
				text-transform: uppercase;
				font-size: 1.125em;
				padding: 0 0 4px 0;
				color: $white;
				border-bottom: 2px solid $white;
				margin-top: 20px;

			}

			div.wpforms-container-full .wpforms-form label.wpforms-error {
				color: GreenYellow;
				padding-top: 5px;
				font-weight: bold;
				font-size: 14px;
			}

			div.wpforms-container-full .wpforms-form .wpforms-field input.wpforms-error {
				border-color: GreenYellow;
			}

			div.wpforms-container-full {
				margin-bottom: 0;
			}
		}

	}

	section.demo-cta {
		display: none;
	}

	section.trade-show {
		padding-top: 50px;

		@include tablet-portrait {
			padding-top: 100px;

			.wrapper {
				display: flex;
				justify-content: space-between;
				align-items: center;
				max-width: 1100px;

				.trade-show-info {
					width: calc(55% - 50px);
				}

				.form {
					width: calc(45% - 50px);
				}
			}
		}

		.trade-show-info {
			.headline {
				text-align: center;
				padding-bottom: 25px;

				h1 {
					font-style: normal;
					font-weight: 300;
					text-transform: none;
					font-size: 1.5em;
					font-family: $proxima-nova;
					letter-spacing: -0.02em;

					@include mobile-landscape {
						font-size: 2.75em;
					}

					@include tablet-landscape {
						font-size: 3.5em;
						letter-spacing: -0.01em;
					}

					em {
						font-style: normal;
						font-weight: 800;
						display: block;
						font-size: 1.75em;
						opacity: 0.5;
						
						display: block;
						margin-bottom: -5px;

						@include mobile-landscape {
							margin-bottom: -18px;
						}

						@include tablet-landscape {
							margin-bottom: -24px;
						}
					}
				}
			}

			.copy.deck {
				p {
					& + p {
						padding-top: 20px;
					}
				}
			}


			.details {
				margin-top: 25px;
				border-top: 1px solid rgba(255, 255, 255, 0.4);
				padding-top: 25px;

				.logo {
					margin-bottom: 50px;
					max-width: 250px;
					margin: 0 auto 50px auto;
				}

				.copy {
					text-align: center;

					p {
						line-height: 1.125em;

						& + p {
							padding-top: 10px;
						}
					}
				}

				@include mobile-landscape {
					display: flex;
					justify-content: space-between;

					.logo {
						max-width: 200px;						
						margin: 0;
					}

					.copy {
						text-align: right;
					}
				}
			}

		}

		.form {
			padding-bottom: 0;
			margin-top: 50px;

			@include tablet-portrait {
				margin-top: 0;
			}
			
		}
	}
}