body.page-template-legacy-products-details  {
	
	section.page-header {
		@include tablet-landscape {
			padding-bottom: 30px;
		}

		.headline {
			padding-bottom: 0;
		}

		h4 {
			a {
				color: $blue;
				font-weight: 900;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		h1 {
			font-size: 1.875em;
			line-height: 1.125em;
			font-weight: 900;

			@include tablet-landscape {
				font-size: 3rem;
			}			
		}

		.copy {
			max-width: 450px;
		}
	}

	section.product-details {
		padding-bottom: 50px;

		@include tablet-portrait {
			padding-bottom: 100px;
		}

		.wrapper {
			@include tablet-portrait {
				display: flex;
				justify-content: space-between;

				.product-teaser {
					width: calc(50% - 25px);
				}

				.info {
					width: calc(50% - 25px);
					padding-top: 0;
				}
			}
		}

		.info {
			padding-top: 30px;

			p {
				line-height: 1.5em;
			}
		}

		.cta {
			padding: 20px 0 50px 0;
		}

		.features {
			.headline {
				padding-top: 15px;
			}

			.row {
				display: flex;
				justify-content: space-between;
				padding: 15px 5px;
				border-bottom: 1px solid $light-gray;

				&:last-of-type {
					border-bottom: none;
				}

				.key {
					font-weight: bold;
				}
			}
		}
	}

	section.product-details {
		display: flex;
		flex-wrap: wrap;

		section:nth-last-child(n+2):nth-last-child(-n+2):first-child,
		section:nth-last-child(n+2):nth-last-child(-n+2):first-child ~ section {
			@include tablet-landscape {
				width: 50%;
			}
		}

		section:nth-last-child(-n+1):first-child,
		section:nth-last-child(-n+1):first-child ~ section {
			.container {
				max-width: 750px;
			}
		}
	}

	section.uses,
	section.features {
		width: 100%;
		padding: 50px 25px;

		@include tablet-landscape {
			padding: 100px 0;
		}

		.container {
			padding: 0 25px;
			max-width: 550px;
			margin: 0 auto;

			@include tablet-landscape {
				padding: 0 50px;
			}
		}

		.headline {
			&:after {
				display: block;
				content: '';
				width: 50px;
				height: 3px;
				background: $blue;
				margin: 20px 0 0 0;
			}
		}

		.copy {
			padding-top: 30px;

			h3 {
				padding-bottom: 5px;
			}

			p {
				padding-bottom: 40px;
				line-height: 1.375em;
			}

			ul {
				list-style-type: disc;
				padding-left: 20px;

				li {
					& + li {
						padding-top: 20px;
					}
				}
			}
		}
	}

	section.uses {
		background: $light-gray;
	}

	section.features {
		background: $off-white;
	}

	section.customer-stories {
		padding: 50px 0;

		@include tablet-landscape {
			padding: 50px 0 100px 0;
		}

		.section-header {
			@include tablet-landscape {
				padding-bottom: 50px;
			}
		}

		.customer-stories-grid {
			@include three-col-grid;
		}

		.customer-story {
			.photo {
				a {
					display: block;
				}
			}
			.logo {
				display: flex;
				justify-content: flex-end;
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;

				&-wrapper {
					max-width: 200px;
				}
				

				@include tablet-portrait {
					transform: translate3d(10px, 10px, 0);

					&-wrapper {
						max-width: 50%;
					}
				}


				@include tablet-landscape {
					transform: translate3d(10px, 10px, 0);

					&-wrapper {
						max-width: 33.3333%;
					}
				}
			}

			.info {
				.headline {
					padding: 10px 0 0 0;

					h3 {
						font-size: 1em;

						@include tablet-landscape {
							font-size: 1.25em;
						}
					}
				}

				.copy {
					padding-top: 10px;
				}				
			}
		}
	}
}