body.page-template-default,
body.page-template-job-listing {

	section.generic {
		padding: 50px 0;

		@include tablet-portrait {
			padding: 100px 0;
		}		
	}

	.page-title {
		padding-bottom: 25px;

		h1 {
			font-size: 2.25em;

			@include tablet-portrait {
				font-size: 3em;
			}
		}
	}


}