body.page-template-products-index {

	section.hero {
		.info {
			&:before {
				content: '';
				display: block;
				width: 100%;
				height: 100%;
				background: rgba(0, 0, 0, 0.6);
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: 2;

				@include tablet-landscape {
					display: none;
				}
			}
			.wrapper {
				z-index: 3;
				& > * {
					max-width: 400px;
				}
			}
		}
	}

	section.atlas {
		padding: 50px 0;

		@include tablet-portrait {
			padding: 100px 0 160px 0;

			.wrapper {
				display: flex;
				justify-content: space-between;
				align-items: center;
				flex-wrap: wrap;

				.section-header {
					width: 100%;
				}

				.photo,
				.info {
					width: calc(50% - 2rem);
				}
			}
		}

		.section-header {
			padding-bottom: 20px;
			text-align: left;

			@include tablet-portrait {
				padding-bottom: 60px;
			}

		}

		.photo {
			img {
				border-radius: 20px;
			}
		}

		.info {
			padding-top: 2rem;

			@include tablet-portrait {
				padding-top: 0;
			}

			.headline {
				h3 {
					font-size: 1.5rem;
					text-transform: uppercase;
					letter-spacing: 0.05em;

					@include tablet-portrait {
						font-size: 2rem;
					}		
				}
			}

			.copy {
				padding-top: 0.5rem;
			}

			.cta {
				padding-top: 1rem;
			}

			.cloud {
				padding-top: 3rem;
			}
		}


	}

	section.products-list {
		padding: 100px 0;

		@include tablet-portrait {
			padding: 100px 0 160px 0;
		}

		&.new-products {
			background: $very-light-gray;
		}

		.products-grid {
			@include three-col-grid;
		}

		.section-header {
			text-align: left;

			.headline {
				padding-bottom: 20px;
			}

			.copy {
				max-width: 960px;
			}
		}

		.product {
			border-radius: 4px;
			box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
			background: $white;

			a {
				display: block;
			}

			.photo {
				.product-name {
					display: block;
					color: $white;
					text-transform: uppercase;
					letter-spacing: 0.05em;
					font-size: 1.5rem;
					font-weight: bold;
					width: 100%;
					position: absolute;
					z-index: 5;
					text-align: center;
					top: 30px;
				}

				img {
					border-top-left-radius: 4px;
					border-top-right-radius: 4px;
				}			
			}

			.info {

				&-wrapper {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					height: 100%;
					padding: 25px;
					text-align: center;


					@include tablet-landscape {
						padding: 50px;
					}
				}

				.copy {
					flex: 1;
				}

				.cta {
					padding-top: 20px;
					margin-top: auto;

					.btn {
						display: inline-block;
					}
				}
			}
		}
	}



}