body.single-customer_stories {

	section.page-header {
		padding-bottom: 30px;
		background: $off-white;

		.headline {
			padding-bottom: 0;
		}

		h4 {
			a {
				color: $blue;
				font-weight: 900;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		h1 {
			font-size: 1.875em;
			line-height: 1.125em;
			font-weight: 900;

			@include tablet-landscape {
				font-size: 3rem;
			}			
		}
	}

	section.featured-media {
		padding-bottom: 50px;
		background: $off-white;

		.photo {
			img {
				width: 100%;
			}
		}
	}

	section.content {
		padding: 50px 0 50px 0;

		article {
			h3 {
				color: $blue;
				font-weight: 900;
				padding-bottom: 5px;
			}

			p + h3 {
				padding-top: 20px;
			}

			a {
				border-bottom: 3px solid $blue;
				text-decoration: none;
			}
		}

		aside {
			padding-top: 50px;
			font-size: 1em;
			line-height: 1.5em;

			&:before {
				display: block;
				content: '';
				width: 50px;
				height: 5px;
				margin-bottom: 20px;
				@include blue-gradient;

			}

			blockquote {
				padding: 0;
				margin: 0 0 0 auto;
				max-width: 90%;

				p {
					font-size: 0.875em;
					padding-bottom: 15px;
				}
			}
		}

		@include tablet-landscape {
			.wrapper {
				display: flex;
				justify-content: space-between;				
			}

			article {
				width: calc(66.6666% - 50px);
				order: 2;
				font-size: 1.5em;
			}

			aside {
				width: calc(33.3333% - 50px);
				order: 1;
				padding-top: 75px;
			}
		}
	}
}