body.single-post {

	article {
		padding-bottom: 50px;

		@include tablet-landscape {
			padding-bottom: 100px;
		}

		.wrapper {
			max-width: 800px;
		}

		section.article-header {
			padding-bottom: 30px;

			.headline {
				padding-bottom: 0;

				h1 {
					font-size: 1.5em;
					text-transform: none;
					letter-spacing: 0;

					@include tablet-portrait {
						font-size: 2.5em;
					}
				}
			}
		}

		section.article-body {
			a {
				color: $blue;
				font-weight: bold;
				text-decoration: underline;
			}

			ul {
				list-style-type: disc;
			}

			ol {
				list-style-type: decimal;
			}

			ol, ul {
				padding-left: 60px;
				padding-bottom: 40px;
				text-align: left;

				li {
					font-size: 1em;
					line-height: 1.375em;

					& + li {
						padding-top: 20px;
					}
				}
			}

			img {
				margin: 0 auto;
				width: auto !important;
				height: auto !important;

				@include tablet-portrait {
					&.alignleft {
						float: left;
						width: 50%;
						margin: 0 40px 10px 0;
					}	

					&.alignright {
						float: right;
						width: 50%;
						margin: 0 0 10px 40px;
					}
				}
			}

			.wp-caption {
				width: auto !important;

				&.aligncenter {
					@include tablet-portrait {
						.wp-caption-text {
							text-align: center;
						}
					}
				}

				&.alignright {
					.wp-caption-text {
						@include tablet-portrait {
							text-align: right;
						}
					}
				}

				.wp-caption-text {
					font-size: 0.75em;
					font-style: italic;
					padding-top: 10px;

				}

				@include tablet-portrait {
					&.alignleft {
						float: left;
						width: 50% !important;
						margin: 0 40px 0 0;

					}	

					&.alignright {
						float: right;
						width: 50% !important;
						margin: 0 0 0 40px;
					}	
				}
			}

			blockquote {
				margin: 0 0 40px 40px;
				padding: 0 0 0 40px;
				border-left: 5px solid $blue;
				max-width: 720px;

				p {
					padding: 0;
					font-size: 0.875em;
					line-height: 1.375em;

					& + p {
						padding-top: 20px;
					}
				}
			}

			.epyt-video-wrapper {
				margin-bottom: 30px;
			}
		}
	}
}