body.page-template-workflow-optimization {

	section.feature-grid {
		padding: 50px 0;

		& + section.feature-grid {
			padding-top: 0;
		}

		@include tablet-portrait {
			padding: 100px 0;
		}

		@include tablet-landscape {
			padding: 150px 0;
		}

		.section-header {
			padding-bottom: 50px;
			text-align: center;

			.headline {
				padding-bottom: 10px;
			}

			.copy {
				max-width: 640px;
				margin: 0 auto;
			}
		}

		.grid {
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: 80px 40px;

			@include mobile-landscape {
				grid-template-columns: 1fr 1fr;
			}

			@include tablet-landscape {
				grid-template-columns: 1fr 1fr 1fr;
			}

			.item {
				.photo {
					img {
						margin: 0 auto;
					}
				}
				.headline {
					padding: 20px 0 10px 0;
					h3 {
						font-size: 1.25em;

						@include tablet-landscape {
							font-size: 1.5em;
						}
					}
				}

				.cta {
					padding-top: 10px;
				}
			}
		}
	}

}