body {
	background: $white;
}

.wrapper {
	@include wrapper-padding;
}

.overlay {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 100;
	background: rgba(0, 0, 0, 0.9);

	&-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100vh;
		padding: 20px;

		@include tablet-portrait {
			padding: 80px 20px;
		}
	}
	
	.close {
		position: absolute;
		top: -40px;
		right: 0;
		z-index: 10;

		@include tablet-landscape {
			right: -40px;
		}
		
		.close-btn {
		  display: block;
		  width: 36px;

			&:before,
			&:after {
				background-color: $blue;
				content: '';
				display: block;
				height: 4px;
				transition: all 200ms ease-in-out;
			}

			&:before {
				box-shadow: 0 0 0 $blue;
				transform: translateY(11px) rotate(45deg);
				margin-bottom: 18px;
			}

			&:after {
				transform: translateY(-11px) rotate(-45deg);					
			}
		}
	}
}



.video-trigger {
	&:after {
		display: block;
		content: '';
		width: 60px;
		height: 60px;
		background: url(images/play-btn-white.svg) no-repeat 0 0;
		background-size: 100%;
		position: absolute;
		top: calc(50% - 30px);
		left: calc(50% - 30px);
		z-index: 5;
	}

	&.large:after {
		@include tablet-portrait {
			width: 100px;
			height: 100px;
			top: calc(50% - 50px);
			left: calc(50% - 50px);
		}
	}
}


section.page-header {
	padding: 50px 0;

	@include tablet-landscape {
		padding: 100px 0 50px 0;
	}

	.headline {
		padding-bottom: 40px;
	}
}


.grid {
	display: grid;
	grid-gap: 50px;
	grid-template-columns: 1fr;

	@include mobile-landscape {
		grid-template-columns: 1fr 1fr;
	}

	@include tablet-portrait {
		grid-template-columns: 1fr 1fr 1fr;
	}

	@include tablet-landscape {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	&.two-col {
		@include mobile-landscape {
			grid-template-columns: 1fr;
		}

		@include tablet-portrait {
			grid-template-columns: 1fr 1fr;
		}
	}

	&.three-col {
		@include tablet-landscape {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}

}


.ajax-load-more-wrap {
	.alm-btn-wrap {
		padding: 0;

		.alm-load-more-btn,
		.alm-load-more-btn.done,
		.alm-load-more-btn.loading {
			background: transparent;
			color: $slate;
			padding: 0 0 2px 0;
			text-transform: uppercase;
			margin: 50px 0 0 0;
			border-bottom: 2px solid $blue;
			border-radius: 0;
			height: auto;
			line-height: 1em;
			font-size: 0.875em;
			letter-spacing: 0.05em;
			font-weight: bold;

			&:hover {
				background: transparent;
				color: $slate;
			}
		}

		.alm-load-more-btn.loading {
			&:before {
				left: -40px;
				top: -11px;
			}
		}
	}
}

