/* Media Queries
----------------------------------*/
$mobile-portrait-width: 480px;
$mobile-landscape-width: 568px;
$tablet-portrait-width: 768px;
$tablet-landscape-width: 1024px;
$desktop-width: 1280px;

@mixin mobile-portrait {
	@media screen and (min-width: #{$mobile-portrait-width}) {
		@content;
	}
}

@mixin mobile-landscape {
	@media screen and (min-width: #{$mobile-landscape-width}) {
		@content;
	}
}

@mixin tablet-portrait {
	@media screen and (min-width: #{$tablet-portrait-width}) {
		@content;
	}
}

@mixin tablet-landscape {
	@media screen and (min-width: #{$tablet-landscape-width}) {
		@content;
	}
}

@mixin desktop {
	@media screen and (min-width: #{$desktop-width}) {
		@content;
	}
}

@mixin placeholder {
  &.placeholder { @content }
  &:-moz-placeholder { @content }
  &::-webkit-input-placeholder { @content }
}

@mixin wrapper-padding {
	margin: 0 auto;
	max-width: 1200px; 
	padding: 0 25px;
	transition: padding 0.2s ease-in;

	@media screen and (min-width: 1250px) {
		padding: 0;
	}
}

@mixin aspect-ratio($width, $height) {
	position: relative;

	&:before {
		display: block;
		content: "";
		width: 100%;
		padding-top: ($height / $width) * 100%;
	}
	
	> .content {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

@mixin blue-gradient {
	background: rgb(89,175,252);
	background: linear-gradient(90deg, rgba(89,175,252,1) 0%, rgba(45,119,248,1) 100%);
}

@mixin two-col-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 50px 0;

	@include mobile-landscape {
		grid-template-columns: 1fr 1fr;
		grid-gap: 50px 40px;
	}
}

@mixin three-col-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 50px 0;

	@include mobile-landscape {
		grid-template-columns: 1fr 1fr;
		grid-gap: 50px 40px;
	}

	@include tablet-portrait {
		grid-template-columns: 1fr 1fr 1fr;
	}	
}