html, input, textarea {
	-webkit-font-smoothing: antialiased;
}
body {
	text-rendering: optimizeLegibility;
}

body, input, textarea, button {
	color: $black;
	font: 400 100%/1 $proxima-nova;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
}

p {

}

a {
	color: $slate;
	transition: all 0.3s ease-in-out;

	&.blue-underline {
		border-bottom: 2px solid transparent;

		&:hover {
			border-bottom: 2px solid $blue;
		}
	}
}

.headline {



	h2 {
		font-size: 1.875em;
		line-height: 1.125em;

		@include tablet-landscape {
			font-size: 3rem;
		}
	}

	h3 {
		font-size: 1.375em;
		line-height: 1.125em;

		@include tablet-landscape {
			font-size: 2em;
		}
	}

	h5 {
		font-size: 1em;
		line-height: 1.25em;

		@include tablet-landscape {
			font-size: 1.25em;
		}
	}

	span.time {
		display: block;
		font-weight: bold;
		color: $blue;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		font-size: 0.875em;
		padding-bottom: 5px;
	}

}

.section-header {
	text-align: center;
	padding-bottom: 30px;

	h2 {
		font-size: 1.75rem;
		font-weight: 900;

		@include tablet-portrait {
			font-size: 2.8125rem;
		}
	}
}


.copy {
	&.p1 {
		font-size: 1.125em;
		line-height: 1.5em;

		@include tablet-landscape {
			font-size: 1.5em;		
		}	
	}

	&.p2 {
		font-size: 1.125em;
		line-height: 1.5em;

		@include tablet-landscape {
			font-size: 1.25em;		
		}
	}

	&.p3 {
		font-size: 1em;
		line-height: 1.3333em;

		@include tablet-landscape {
			font-size: 1.125em;		
		}
	}

	&.p4 {
		font-size: 0.875em;
		line-height: 1.25em;

		@include tablet-landscape {
			font-size: 1em;		
		}
	}

	&.extended {

		h2 {
			font-size: 1.5em;
			font-weight: 900;
			padding-bottom: 10px;
		}


		h3 {
			font-size: 1.25em;
			font-weight: 900;
			padding-bottom: 10px;

			& + h4 {
				padding-top: 20px;
			}
		}

		h4 {
			font-size: 1.125em;
			font-weight: 900;
			padding-bottom: 10px;
		}

		p {
			padding-bottom: 30px;
		}


		a {
			color: $blue;
			font-weight: bold;
			text-decoration: underline;
		}

		ul {
			list-style-type: disc;
		}

		ol {
			list-style-type: decimal;
		}

		ol, ul {
			padding-left: 30px;
			padding-bottom: 40px;
			text-align: left;

			@include tablet-portrait {
				padding-left: 60px;
			}

			li {
				font-size: 1em;
				line-height: 1.375em;

				& + li {
					padding-top: 20px;
				}
			}
		}


	}
}

.cta {
	.btn {
		display: inline-block;
		font-weight: bold;
		text-transform: uppercase;
		border-bottom: 2px solid $blue;
		font-size: 0.875em;
		padding-bottom: 4px;

		&.large {
			font-size: 1.125em;
		}

		&.white {
			color: $white;
			border-bottom: 2px solid $white;
		}
	}

	.blue-btn {
		background: $blue;
		color: $white;
		border-radius: 4px;
		border: 2px solid $blue;
		padding: 13px 15px 11px 15px;
		display: inline-block;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 0.875rem;

		&.black-outline {
			background: transparent;
			border: 2px solid $black;
			color: $black;

			&:hover {
				background: $black;
				color: $light-gray;
			}
		}

		&.white-outline {
			background: transparent;
			border: 2px solid $white;
			color: $white;

			&:hover {
				background: $white;
				color: $blue;
			}
		}
	}


}
