/* Colors
----------------------------------*/
$white: #fff;
$off-white: #f5f5f5;
$very-light-gray: #efefef;
$light-gray: #d9d9d9;
$mid-gray: #7B7977;
$charcoal: #424242;
$slate: #2B2B2B;
$black: #000;

$blue: #2D77F8;
$mid-blue: #4A88FF;
$light-blue: #F4F8FE;



/* Typography
----------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&display=swap');

$proxima-nova: proxima-nova, sans-serif;


@font-face {
    font-family: 'Nexa';
    src: url('fonts/Nexa-Bold.woff2') format('woff2'),
        url('fonts/Nexa-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}



$nexa-bold: 'Nexa', sans-serif;
$roboto-mono: 'Roboto Mono', monospace;
$nimbus-sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$nimbus-sans-light: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$nimbus-sans-medium: 'Helvetica Neue', Helvetica, Arial, sans-serif;
