section.company {
	background: $very-light-gray;
	padding: 100px 0;

	@include tablet-landscape {
		padding: 200px 0;
	}

	.wrapper {
		@include tablet-portrait {
			display: flex;
			align-items: center;

			& > * {
				width: 50%;
			}
		}
	}

	.logo {
		padding-bottom: 40px;

		@include tablet-portrait {
			padding-bottom: 0;
		}

		img {
			margin: 0 auto;
			max-width: 280px;

			@include tablet-landscape {
				max-width: 360px;
			}
		}
	}
	.copy {
		&.p1 {
			font-size: 1.5rem;
			line-height: 2em;

			@include tablet-landscape {
				font-size: 1.875rem;
			}
		}

		a {
			color: $blue;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}