section.features {
	padding: 50px 0;

	@include tablet-landscape {
		padding: 100px 0 160px 0;
	}

	@include tablet-portrait {
		.wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;

			.info {
				width: calc(50% - 10px);
			}

			.photo {
				width: calc(50% - 10px);
			}
		}
	}
}

section.feature  {
	& + section.feature {
		padding-top: 100px;
	}

	.info {
		padding-top: 20px;

		@include tablet-portrait {
			padding-top: 0;
		}
	}

	@include tablet-portrait {
		&:nth-child(odd) {
			.photo {
				order: 2;
			}

			.info {
				order: 1;
				padding-right: 50px;
			}
		}

		&:nth-child(even) {
			.info {
				padding-left: 50px;
			}
		}
	}

	.headline {
		padding-bottom: 10px;

		@include tablet-portrait {
			padding-bottom: 20px;
		}
	}

	.copy {
		padding-bottom: 25px;
	}
}