section.hero-video {
	.headline {
		max-width: 716px;
		
		h1 {
			font-weight: 900;
			font-size: 2.25rem;

			@include tablet-portrait {
				font-size: 3rem;
			}

			@include tablet-landscape {
				font-size: 3.75rem;
			}
		}
	}

	.copy {
		padding-top: 20px;
	}

	.sub-headline {
		padding-top: 20px;

		@include tablet-landscape {
			padding-top: 40px;
		}

		h2 {
			font-size: 1.125em;
			line-height: 1.5em;

			@include tablet-landscape {
				font-size: 1.5em;		
			}	
		}
	}	
}