section.solutions {
	padding: 50px 0;
	background: $off-white;

	@include tablet-portrait {
		padding: 110px 0 150px 0;
	}

	.headline {
		padding-bottom: 20px;
	}

	.graphic {
		padding-top: 40px;
	}

	.links {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		padding-top: 2rem;

		&-1 {
			.link {
				.blue-btn {
					transform: scale(1.2);
				}
			}

		}

		.link {
			width: 100%;
			text-align: center;

			@include tablet-portrait {
				width: auto;
			}

			& + .link {
				padding-top: 2rem;

				@include tablet-portrait {
					padding-top: 0;
					padding-left: 2rem;
				}
			}

			.blue-btn {
				@include tablet-portrait {
					min-width: 250px;
				}
			}
		}
	}
}
