section.channel-partners {
	padding: 50px 0;

	@include tablet-landscape {
		padding: 100px 0 200px 0;
	}

	.section-header {
		.headline {
			padding-bottom: 40px;
		}

		.copy {
			display: grid;
			gap: 30px 50px;
			text-align: left;

			@include mobile-landscape {
				grid-template-columns: repeat(2, 1fr);
			}
		}
	}

	.featured {
		padding-top: 40px;

		@include tablet-portrait {
			padding-top: 80px;
		}

		.partner {
			border: 2px solid $black;
		}
	}	

	.case-studies {
		padding: 40px 0;

		@include tablet-portrait {
			padding: 100px 0 100px 0;
		}

		.case-study-wrapper {
			background: $white;
			box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
			padding: 50px 50px 50px 50px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			.logo {
				height: 50%;
				min-height: 120px;
				display: flex;
				justify-content: center;
				align-items: flex-end;

				img {
				}
			}

			.info {
				padding-top: 70px;
				display: flex;
				flex-direction: column;
				justify-content: flex-end;

				@include tablet-portrait {
					min-height: 280px;
				}

				@include tablet-landscape {
					min-height: 240px;
				}
			}

			&.open {
				display: block;

				.info {
					height: auto;
				}

				.full-case-study {
					padding: 50px  0;
				}
			}

			.copy {
				@include tablet-portrait {
					min-height: 160px;
				}
		
				p {
					@include tablet-portrait {
						font-size: 1rem;
					}

					@include tablet-landscape {
						font-size: 1.125rem;
					}
				}
			}

			.cta {
				padding-top: 30px;

				a {
					display: inline-block;
					border-bottom: 2px solid $blue;
					text-transform: uppercase;
					font-weight: bold;
					font-size: 0.875rem;
				}
			}

			.full-case-study {
				padding-top: 50px;
				display: none;

				p {
					line-height: 1.375em;
				}				
			}
		}
	}
}