section.contact {
	background: $very-light-gray;
	padding: 75px 0;
	text-align: center;

	@include tablet-portrait {
		padding: 120px 0;
	}

	.headline {
		padding-bottom: 30px;

		h2 {
			font-weight: 900;
		}
	}

	.copy {
		padding-bottom: 40px;

		p {
			font-size: 1.5rem;

			@include tablet-landscape {
				font-size: 2rem;
			}

			@include desktop {
				font-size: 2.5rem;
			}
		}
	}

	.cta {
		.blue-btn {
			padding-right: 30px;
			padding-left: 30px;
		}
	}
}