section.join {
	padding: 50px 0;
	text-align: center;

	@include tablet-landscape {
		padding: 200px 0 100px 0;
	}

	.headline {
		padding-bottom: 25px;

		h2 {
			font-weight: 900;
		}
	}

	.copy {
		max-width: 850px;
		margin: 0 auto;
	}

	.grid {
		padding-top: 50px;
		grid-gap: 50px 30px;

		.photo {
			img {
				width: 100%;
			}			
		}

		.copy {
			padding: 20px 0 0 0;

			@include tablet-landscape {
				padding: 20px 20px 0 20px;
			}
		}
	}
}