.partners-grid {
	gap: 30px;
	grid-template-columns: repeat(4, 1fr);

	@include tablet-portrait {
		grid-template-columns: repeat(6, 1fr);
	}

	@include tablet-landscape {
		grid-template-columns: repeat(8, 1fr);
	}

	.partner {
		grid-column: span 2;
		background: $white;
		box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
		padding: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 172px;

		&:last-child:nth-child(2n - 1) {
			grid-column: 2 / span 2;

			@include tablet-portrait {
				grid-column: auto / span 2;
			}
		}

		&:last-child:nth-child(3n + 1) {
			@include tablet-portrait {
				grid-column: 3 / span 2;
			}

			@include tablet-landscape {
				grid-column: auto / span 2;
			}
		}

		&:last-child:nth-child(3n - 1) {
			@include tablet-portrait {
				grid-column: 4 / span 2;
			}

			@include tablet-landscape {
				grid-column: auto / span 2;
			}
		}

		&:nth-last-child(2):nth-child(3n + 1) {
			@include tablet-portrait {
				grid-column: 2 / span 2;
			}

			@include tablet-landscape {
				grid-column: auto / span 2;
			}
		}

		&:last-child:nth-child(4n + 1) {
			@include tablet-landscape {
				grid-column: 4 / span 2;
			}
		}
	}

	img {
		width: 100%;
		height: 100%;
		max-height: 72px;
		object-fit: contain;
	}
}