.portal {
    background: $black;
    color: $white;
    padding: 2rem 0;

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .headline {
        width: 100%;
        text-align: center;
        margin-bottom: 1rem;

        @include tablet-portrait {
            margin-bottom: 0;
            width: auto;
            margin-right: 2rem;
        }
    }
}