section.customers {
	background: $mid-blue;
	color: $white;
	padding: 50px 0;

	@include tablet-portrait {
		padding: 75px 0 75px 0;
	}

	@include desktop {
		padding: 110px 0 160px 0;
	}

	.wrapper {
		max-width: 960px;
	}

	.section-header {
		.copy {
			padding-top: 10px;
		}
	}

	.logos {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		align-items: center;

		.logo {
			padding: 25px;
			max-width: 120px;

			@include tablet-portrait {
				max-width: 180px;
			}


		}
	}
}