section.customer-stories {
	padding: 75px 0;

	@include tablet-landscape {
		padding: 115px 0 140px 0;
	}

	.case-study {
		@include tablet-portrait {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
		}

		.photo {
			@include tablet-portrait {
				width: calc(50% - 50px);
			}

			a {
				display: block;
			}
		}

		.info {
			padding-top: 20px;

			@include tablet-portrait {
				width: calc(50% - 25px);
				padding-top: 0;
			}

			.logo {
				padding-bottom: 20px;

				img {
					max-width: 200px;
					max-height: 60px;						
				}
			}

			.headline {
				@include tablet-portrait {
					max-width: 390px;
				}
			}

			.copy {
				padding: 20px 0;

				@include tablet-portrait {
					max-width: 490px;
				}
			}
		}
	}
}