section.hero-video {
	max-height: 400px;

	@include mobile-landscape {
		max-height: 500px;
	}

	@include tablet-landscape {
		max-height: 600px;
	}



	.bg-video {
		height: calc(100% - 1.25rem);
		
		iframe {
			left: 0;

			@include mobile-landscape {
				left: 50%;
			}
		}
	}

	.home-hero-info {
		.headline {
			padding-bottom: 20px;

			h1 {
				font-size: clamp(2rem, 4vw, 3.75rem);
				font-weight: 900;
			}
		}

		.copy {
			padding-bottom: 1.5rem;
			max-width: 530px;

			@include tablet-portrait {
				padding-bottom: 3rem;
			}

			&.p2 {
				font-size: 1rem;

				@include tablet-portrait {
					font-size: 1.125rem;
				}
			}
		}

		.cta {
			.blue-btn {
				width: 100%;
				max-width: 9.5rem;
				text-align: center;
				display: inline-block;
			}
		}
	}

	&#cloud {
		.home-hero-info {
			margin-left: auto;
		}

		.bg-video {
			iframe {
				left: 120%;
	
				@include mobile-landscape {
					left: 50%;
				}
			}
		}
	}

	&#enterprisebackup-restore {
		.bg-video {
			iframe {
				left: -50%;
	


				@include tablet-portrait {
					left: 33%;
				}

				@include tablet-landscape {
					left: 40%;
				}

				@include desktop {
					left: 50%;
				}
			}
		}
	}
}