section.performance {
	background: $black;
	color: $white;
	padding: 50px 0;

	@include tablet-portrait {
		padding: 110px 0 160px 0;
	}

	.section-header {
		padding-bottom: 40px;
		text-align: left;

		.copy {
			padding-top: 20px;
		}
	}

	.performance-tiles {

		@include mobile-landscape {
			display: grid;
			gap: 30px;
			grid-template-columns: 1fr 1fr;
			grid-template-areas: 
     		   "a b"
     		   "a c"
     		   "d c"
     		   "f e"
     		   "f e";
		}

		@include tablet-landscape {
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-areas: 
     		   "a b c"
     		   "a e c"
     		   "d e f";
		}
	}

	.tile {
		& + .tile {
			margin-top: 30px;

			@include mobile-landscape {
				margin-top: 0;
			}
		}
		.info {
			padding: 20px;

			@include desktop {
				padding: 40px;
			}
		}

		.headline {
			padding-bottom: 10px;

			h3 {
				font-size: 1.25rem;

				@include desktop {
					font-size: 2rem;
				}
			}
		}

		.copy {
			padding-bottom: 20px;
		}

		.cta {
			span.underline {
				display: inline-block;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 0.8125rem;
				letter-spacing: 0.05em;
				border-bottom: 2px solid $blue;
				padding-bottom: 2px;
			}
		}

	}

	.tile-1,
	.tile-3,
	.tile-5 {
		@include aspect-ratio(380, 370);
	}

	.tile-2,
	.tile-4,
	.tile-6 {
		@include aspect-ratio(380, 250);
	}

	.tile-1 {
		grid-area: a;
	}

	.tile-2 {
		grid-area: b;
	}

	.tile-3 {
		grid-area: c;
	}

	.tile-4 {
		grid-area: d;
	}

	.tile-5 {
		grid-area: e;
	}

	.tile-6 {
		grid-area: f;
	}
	.tile-link {
		display: block;
		color: $white;

		.graphic {
			filter: grayscale(1);
			transition: all 0.2s ease-in;

			img {
				border-radius: 4px;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&:hover {
			.graphic {
				filter: grayscale(0);
			}
		}

		.info {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 10;
			display: flex;
			align-items: center;
		}

	}

	.demo-tile {
		background: $blue;

		a {
			color: $white;
		}

		.info {
			display: flex;
			align-items: center;
			height: 100%;
		}

		.cta {
			span.underline {
				border-bottom: 2px solid $black;
			}
		}
	}
}