section.video-features {
	padding: 50px 0;

	@include tablet-portrait {
		padding: 75px 0 125px 0;
	}

	@include desktop {
		padding: 110px 0 160px 0;
	}

	.section-header {
		padding-bottom: 40px;

		.copy {
			padding-top: 20px;
			max-width: 720px;
			margin: 0 auto;
		}
	}

	.videos {
		display: grid;
		gap: 30px;
		grid-template-columns: repeat(2, 1fr);

		@include mobile-landscape {
			grid-template-columns: repeat(4, 1fr);
		}

		@include tablet-portrait {
			grid-template-columns: repeat(6, 1fr);
		}
	}

	.video {
		grid-column: span 2;
		display: block;
		@include aspect-ratio(3, 4);
		
		@include mobile-landscape {
			@include aspect-ratio(380, 600);
		}
	
		&:last-child:nth-child(2n - 1) {
			@include mobile-landscape {
				grid-column: 2 / span 2;
			}

			@include tablet-portrait {
				grid-column: auto / span 2;
			}
		}


		@include tablet-portrait {
			@include aspect-ratio(380, 800);
		}

		@include tablet-landscape {
			@include aspect-ratio(380, 750);
		}

		@include desktop {
			@include aspect-ratio(380, 600);
		}

		&:after {
			display: none;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		.info {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 50;
			width: 100%;
			height: 100%;

			&-wrapper {
				color: $white;
				text-align: center;
				height: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-between;
			}

			.headline {
				padding: 40px 20px;

				@include mobile-landscape {
					padding: 20px 10px;
				}
	
				@include tablet-landscape {
					padding: 40px 20px;
				}

				h3 {
					font-size: 2rem;

					@include desktop {
						font-size: 3.125rem;
						line-height: 1em;
					}
				}

				.optional-graphic {
					padding-top: 20px;

					img {
						margin: 0 auto;
						max-width: 124px;

						@include tablet-portrait {
							max-width: 144px;
						}
					}
				}
			}

			.meta {
				height: 50%;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				padding-bottom: 20px;

				@include mobile-landscape {
					height: 45%;
				}

				@include tablet-portrait {
					height: 45%;
				}

				@include tablet-landscape {
					padding-bottom: 40px;
				}
			}
			
			.play-btn {
				width: 60px;
				height: 60px;
				background: url(images/play-btn-white.svg) no-repeat 0 0;
				background-size: 100%;
				margin: 0 auto;
				z-index: 10;

				@include tablet-landscape {
					width: 92px;
					height: 92px;
				}	
			}

			.deck {
				max-width: 400px;
				margin: 0 auto;
				padding: 0 20px 0 20px;

				p {
					@include tablet-portrait {
						font-size: 0.875rem;
						line-height: 1.25em;
					}

					@include tablet-landscape {
						font-size: 1rem;
						line-height: 1.5em;
					}

					@include desktop {
						font-size: 1.125rem;
					}
				}
			}
		}
	}
}