section.gallery {
	padding-bottom: 50px;

	.headline {
		padding-bottom: 30px;
	}

	.gallery-size-full {
		@include three-col-grid;

		.gallery-icon {
			img {
				width: auto !important;
				height: auto !important;
			}
		}

		figcaption {
			display: block;
			padding-top: 15px;
			text-align: center;
			font-size: 1.25em;
			line-height: 1.6;
		}
	}
}


.jp-carousel-overlay {
	opacity: 0.94;
}

.jp-carousel-left-column-wrapper {
	width: 100% !important;
}

.jp-carousel-photo-info,
.jp-carousel-image-meta {
	display: none;
}

.jp-carousel-titleanddesc {
	border-top: none;
	padding:  0;
	margin: 0 !important;
	text-align: center;
}

.jp-carousel-titleanddesc-title {
	font-family: $proxima-nova !important;
	font-weight: 700 !important;
	font-size: 1.5rem !important;
	margin: 0;
	padding: 0;
}

.jp-carousel-close-hint span {
	font-size: 4rem !important;
}