section.hero-video {
	.info {
		.headline {
			max-width: 420px;
			padding-bottom: 50px;

			@include tablet-landscape {
				max-width: 641px;
			}

			img {
				width: 100%;
			}
		}

		.sub-headline {
			padding-bottom: 30px;
			
			h3 {
				text-transform: uppercase;
				font-weight: 900;
				font-size: 1.75rem;

				@include tablet-portrait {
					font-size: 2.5rem;
				}
			}
		}

		.copy {
			max-width: 525px;
		}
	}
}