section.product-description {
	padding: 50px 0 100px 0;

	@include tablet-portrait {
		padding: 120px 0 130px 0;
	}

	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;

		& > * {
			width: 100%;

			@include tablet-portrait {
				width: 50%;
			}
		}
	}

	.info {
		padding-bottom: 50px;

		@include tablet-portrait {
			padding-bottom: 0;
			padding-right: 50px;
		}

		@include tablet-landscape {
			padding-right: 100px;
		}
	}

	.copy {
		p {
			line-height: 2em;

			& + p {
				padding-top: 30px;
			}
		}
	}

	.links {
		padding-top: 60px;
		display: flex;
		justify-content: space-between;
	}


	.features {
		background: $black;
		color: $white;
		padding: 40px;
		display: flex;
		align-items: center;

		@include tablet-portrait {
			padding: 60px 40px;
		}

		.headline {
			padding-bottom: 30px;

			h3 {
				letter-spacing: 0.02em;
				font-size: 1.125rem;

				@include tablet-landscape {
					font-size: 1.25rem;
				}
			}
		}


		.copy {
			ul {
				list-style-type: disc;
				font-size: 0.9375rem;
				line-height: 1.25em;
				padding-left: 20px;

				li + li {
					padding-top: 20px;
				}
			}
		}

	}

}