section.technical {
	padding: 50px 0;

	@include tablet-portrait {
		padding: 100px 0 160px 0;
	}

	.copy {
		max-width: 600px;
		padding-bottom: 30px;
	}

	.graphic {
		background: $white;
		padding: 25px;
		border-radius: 4px;
		box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);

		@include tablet-portrait {
			padding: 50px;
		}

		img {
			width: 100%;
			border: 2px solid rgba(204, 204, 204, 1);
		}
	}
}