section.comparison {
    padding: 3rem 0;
    background: $off-white;

    @include tablet-portrait {
        padding: 6rem 0;
    }

    .two-col-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem 0;

        @include tablet-portrait {
            grid-template-columns: repeat(2, 1fr);
            gap: 0 2rem;
        }

        .challenge {
            box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);

            .photo {
                opacity: 0.75;
            }

        }

        .solution {
            box-shadow: 0 2px 31px rgba(0, 0, 0, 0.71);
        }

        .col {
            background: $white;
            border-radius: 5px;

            .info {
                padding: 3rem 2rem;
            }

            .headline {
                padding-bottom: 0.5rem;

                h4 {
                    font-size: clamp(1rem, 1.5vw, 1.5rem);    
                }
            }

            .copy.extended {
                p {
                    padding-bottom: 1.5rem;
                }

                ul {
                    padding-left: 2rem;
                    padding-bottom: 0;
                }
            }
        }
    }
}