section.contact {
	background: $very-light-gray;
	padding: 6rem 0;
	text-align: center;

	@include tablet-portrait {
		padding: 7.5rem 0;
	}

	.headline {
		padding-bottom: 2rem;
	}

	.copy {
		padding-bottom: 2.5rem;

		p {
			font-size: clamp(1.5rem, 3vw, 2.5rem);
		}
	}

	.cta {
		.blue-btn {
			padding-right: 30px;
			padding-left: 30px;
		}
	}
}