section.diagram {
    padding: 3rem 0;

    @include tablet-portrait {
        padding: 6rem 0;
    }

    .headline {
        padding-bottom: 2rem;

        h3 {
            font-weight: 900;
        }
    }
}