section.difference {
    padding-bottom: 3rem;

    @include tablet-portrait {
        padding-bottom: 6rem;
    }

    .two-col-grid {
        display: grid;
        gap: 2rem 0;

        @include tablet-portrait {
            grid-template-columns: 2fr 1fr;
            gap: 2rem;

            .photo {
                grid-column: 2;
                grid-row: 1;
            }

            .info {
                grid-row: 1;
                grid-column: 1;
            }
        }

        @include tablet-landscape {
            grid-template-columns: 1.25fr 1fr;
        }
    }

    .info {
        .headline {
            padding-bottom: 0.5rem;

            h3 {
                font-weight: 900;
            }
        }

        .copy {
            ul {
                padding-left: 2rem;
            }
        }
    }
}