section.hero {
    @include aspect-ratio(3, 4);

    @include mobile-landscape {
		@include aspect-ratio(16, 9);
	}

	@include desktop {
		@include aspect-ratio(1920, 760);
	}

    .photo {
        img {
            object-position: 80% 50%;

            @include tablet-landscape {
                object-position: center center;
            }
        }
    }

    .icon {
        padding-bottom: 1rem;
        max-width: clamp(3rem, 8vw, 7.25rem);

        img {
            width: 100%;
        }
    }

    .copy.p1{
        font-size: clamp(0.875rem, 1vw, 1.5rem);
    }
}