section.solutions-header {
    padding: 3rem 0;

    @include tablet-portrait {
        padding: 4rem 0 3rem 0;
    }

    .headline {
        padding-bottom: 2rem;
    }

    .copy {
        max-width: 920px;
        margin: 0 auto;
    }
}