section.customers {
	background: $very-light-gray;
	padding: 50px 0;

	@include tablet-portrait {
		padding: 100px 0 160px 0;
	}

	.headline {
		padding-bottom: 30px;
	}

	.customers-grid {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		
		.grid-item-3 {
			grid-row-start: 5;
		}

		.grid-item-5 {
			grid-row-start: 3;
		}

		@include mobile-landscape {
			grid-template-columns: repeat(2, 1fr);

			.grid-item-3 {
				grid-row-start: 3;
				grid-column-start: 1;
				grid-column-end: 2;
			}

			.grid-item-4 {
				grid-column-start: 1;
				grid-column-end: 2;
			}

			.grid-item-5 {
				grid-row-start: 2;
				grid-column-start: 2;
				grid-column-end: 3;
			}
		}

		@include tablet-landscape {
			grid-template-columns: repeat(3, 1fr);

			.grid-item-3 {
				grid-row-start: 1;
				grid-column-start: 3;
				grid-column-end: 4;
			}

			.grid-item-4 {
				grid-column-start: 1;
				grid-column-end: 2;
			}


		}
	}

	.text {
		background: $white;
		text-align: center;
		@include aspect-ratio(4, 3);

		@include mobile-landscape {
			@include aspect-ratio(1, 1);
		}

		.content {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		p {
			font-size: 1.5rem;
			line-height: 2em;

			@include tablet-landscape {
				font-size: 1.25rem;
			}

			@include desktop {
				font-size: 1.5rem;
			}
		}
	}

	.image {
		@include aspect-ratio(4, 3);

		@include mobile-landscape {
			@include aspect-ratio(1, 1);
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.video {
		display: block;
		position: relative;

		&-trigger:after {
			width: 92px;
			height: 92px;
			top: calc(50% - 46px);
			left: calc(50% - 46px);
		}

		a {
			display: block;
			@include aspect-ratio(4, 3);

			@include mobile-landscape {
				@include aspect-ratio(1, 1);
			}
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

	}
	



}