section.history {
	padding: 100px 0;

	@include tablet-portrait {
		padding: 170px 0;
	}

	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}

	.info {
		width: 100%;
		padding-bottom: 50px;

		@include tablet-portrait {
			width: 58.3333%;
			padding-bottom: 0;
		}

		.headline {
			padding-bottom: 30px;
		}

		.copy {
			p {

				& + p {
					padding-top: 20px;
				}
			}
		}
	}

	.photo {
		width: 100%;

		@include tablet-portrait {
			width: 33.3333%;
		}

		img {
			width: 100%;
			max-width: 400px;
			margin: 0 auto;

			@include tablet-portrait {
				max-width: 100%;
			}
		}
	}
}