section.leadership {
	padding-bottom: 100px;

	@include tablet-portrait {
		padding-bottom: 160px;
	}

	.headline {
		padding-bottom: 30px;
	}

	.carousel {
		& + .carousel {
			margin-top: 30px;
		}
	}

	.slick-dots {
		bottom: 20px;
		width: 100%;

		@include tablet-portrait {
			width: 55.5834%;
		}

		@include tablet-landscape {
			bottom: 50px;
		}
	}

	.slide {
		.info {
			&:before {
				content: '';
				display: block;
				width: 142px;
				height: 110px;
				position: absolute;
				top: 10px;
				z-index: 1;

				@include tablet-portrait {
					top: 10px;
					width: 283px;
					height: 219px;
				}
			}
		}
	}

	.carousel-1,
	.carousel-3 {
		background: $black;
		color: $white;

		.slide {
			.info {
				&:before {
					background: url(images/left-quote.svg) no-repeat 0 0;
					background-size: 100%;
					left: 10px;
				}
			}

		}

		.info {
			order: 2;

			@include tablet-portrait {
				order: 1;
			}
		}

		.photo {
			order: 1;

			@include tablet-portrait {
				order: 2;
			}
		}

		.slick-dots {
			li button:before {
				background: transparent;
				border-color: $white;
			}

			li.slick-active button:before {
				background: $white;
			}
		}
	}

	.carousel-2 {
		background: #E5E5E5;
		color: $black;

		.slide {
			.info {
				&:before {
					background: url(images/right-quote.svg) no-repeat 0 0;
					background-size: 100%;
					right: 10px;
					z-index: 1;
				}
			}
		}

		.info {
			order: 2;
		}

		.photo {
			order: 1;
		}

		.slick-dots {
			@include tablet-portrait {
				left: 44.4166%;
			}

			li button:before {
				background: transparent;
				border-color: $black;
			}

			li.slick-active button:before {
				background: $black;
			}
		}
	}

	.slide {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;

		.info {
			width: 100%;			
			text-align: center;
			z-index: 2;
			padding: 40px 60px 60px 60px;
			display: flex;
			align-items: center;

			@include tablet-portrait {
				width: 55.5834%;
				height: 100%;
				padding: 60px;

				&-wrapper {
					padding-top: 60px;
				}
			}

			.quote {
				p {
					font-size: 1.5rem;
					line-height: 1.2em;
					font-weight: bold;

					@include tablet-landscape {
						font-size: 2rem;
					}

					@include desktop {
						font-size: 2.25rem;
					}
				}
			}

			.source {
				padding-top: 20px;

				@include tablet-landscape {
					padding-top: 50px;
				}

				h4 {
					font-weight: 400;
					line-height: 1.25em;
					font-size: 1.125rem;
					display: flex;
					align-items: center;
					justify-content: center;

					@include tablet-landscape {
						font-size: 1.5rem;
					}

					@include desktop {
						font-size: 1.75rem;
					}

					.linkedin {
						display: block;
						margin-left: 20px;
						max-width: 38px;

						@include tablet-portrait {
							max-width: 30px;
						}

						@include tablet-landscape {
							max-width: 38px;
						}

						img {
							width: 100%;
						}
					}
				}
			}
		}

		.photo {
			width: 100%;
			@include aspect-ratio(16, 12);

			@include tablet-portrait {
				width: 44.4166%;
				@include aspect-ratio(533, 700);
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: top center;

				@include tablet-portrait {

				}
			}
		}
	}
}