section.about {
    padding: 4rem 0;

    @include tablet-portrait {
        padding: 8rem 0;

        .wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    .info {
        padding-bottom: 3rem;

        @include tablet-portrait {
            padding-bottom: 0;
            width: calc(50% - 2rem);
        }

        .headline {
            h2 {
                font-weight: 900;
            }
        }

        .copy {
            padding-top: 1rem;
            line-height: 1.875em;
        }
    }

    .photo {
        @include tablet-portrait {
            width: calc(50% - 2rem);
        }
    }
}