section.acms {
    padding: 4rem 0;

    @include tablet-portrait {
        padding: 8rem 0;

        .wrapper {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }

    .section-header {
        text-align: center;
        width: 100%;
        padding-bottom: 3rem;

        .headline {
            h2 {
                font-weight: 900;
            }
        }

        .sub-headline {
            padding-top: 1rem;

            h4 {
                font-weight: 900;
            }
        }
    }

    .info {
        @include tablet-portrait {
            width: calc(50% - 1rem);
        }

        .copy {
            line-height: 1.875em;

            ul {
                padding-left: 1.25rem;
            }
        }
    }

    .photo {
        @include tablet-portrait {
            width: calc(50% - 1rem);
        }
    }
}