section.approach {
    background: #fafafa;

    @include tablet-portrait {
        display: flex;
    }





    .info {
        display: flex;
        align-items: center;
        padding: 4rem 2rem;
        
        @include tablet-portrait {
            width: 50%;
            padding-left: 4.75rem;
        }

        &-wrapper {
            max-width: 492px;
        }

        .sub-headline {
            padding-bottom: 0.5rem;

            h4 {
                font-weight: 900;
                color: $blue;
            }
        }

        .headline {
            h2 {
                font-weight: 900;
            }
        }

        .copy {
            padding-top: 2rem;
            line-height: 1.875em;
        }

        .cta {
            .btn {
                text-transform: none;
            }
        }
    }

    .photo {
        @include aspect-ratio(3, 2);
        
        @include tablet-portrait {
            width: 50%;
            order: -1;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}