section.architecture {
    padding: 4rem 0;
    background: #f5f5f5;

    @include tablet-portrait {
        padding: 8rem 0;
    }


   .headline {
       text-align: center;
       padding-bottom: 2rem;

        h3 {
            font-weight: 900;
        }
    }

    .photo {
        max-width: 1000px;
        margin: 0 auto;
        background: $white;
        border: 1px solid $blue;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;

        img {
            width: 100%;
            max-width: 750px;
        }
    }

    .copy {
        padding-top: 1rem;
        max-width: 1000px;
        margin: 0 auto;
        line-height: 1.875em;
    }

}