section.challenges-solutions {
    padding: 2rem 0;
    background: url(images/atlas-cloud-background.jpeg) no-repeat center center;
    background-size: cover;

    @include tablet-portrait {
        padding: 4rem 0;

        .wrapper {
            display: flex;
            align-items: stretch;
            justify-content: space-between;
        }
    }


   .headline {
        h3 {
            font-weight: 900;
        }
    }

    .copy {
        padding-top: 1.5rem;
        line-height: 1.875em;

        ul {
            padding-left: 1.125rem;

            li {
                line-height: 1.875em;
            }
        }
    }

    .challenges, .solutions {
        padding: 2rem 2rem 0 2rem;

        @include tablet-portrait {
            width: calc(50% - 1rem);
            padding: 4rem 4rem 1rem 4rem;
        }
    }

    .challenges {
        background: #f5f5f5;
    }

    .solutions {
        margin-top: 2rem;
        background: $black;
        color: $white;

        @include tablet-portrait {
            margin-top: 0;
        }

        .headline {
            h3 {
                color: $blue;
            }
        }
    }
}