section.hero {
    @include aspect-ratio(3,4);

    @include mobile-landscape {
        @include aspect-ratio(4, 3);
    }

    @include desktop {
        @include aspect-ratio(16, 8);
        max-height: 900px;
    }

    .photo {
        img {
            object-position: 80% 50%;

            @include desktop {
                object-position: center center;
            }
        }
    }

    .info {
        .wrapper {
            .headline {
                max-width: 960px;
            }
        }
    }
}