section.case-studies {
	padding: 50px 0;

	@include tablet-portrait {
		padding: 0 0 100px 0;
	}

	.case-study-wrapper {
		background: $white;
		box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
		padding: 50px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;


		.logo {
			height: 50%;
			min-height: 120px;
			display: flex;
			justify-content: center;
			align-items: flex-end;

			img {
			}
		}

		.info {
			padding-top: 70px;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
		}

		.copy {
			@include tablet-portrait {
				min-height: 80px;
			}			
			
			p {
				@include tablet-portrait {
					font-size: 1rem;
				}

				@include tablet-landscape {
					font-size: 1.125rem;
				}
			}
		}

		.cta {
			padding-top: 30px;

			a {
				border-bottom: 2px solid $blue;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 0.875rem;
			}
		}

		.full-case-study {
			padding-top: 50px;
			display: none;

			p {
				line-height: 1.375em;
			}			
		}
	}
}