section.contact-info {
	padding: 50px 0;
	background: $light-gray;

	.wrapper {
		@include tablet-portrait {
			display: flex;
			justify-content: space-between;

			.info {
				width: calc(50% - 25px);
			}

			.details {
				width: calc(50% - 25px);
				padding-top: 0;
			}
		}
	}

	.info {
		.headline {
			padding-bottom: 10px;

			h4 {
				font-size: 1.5rem;
			}
		}

		.copy {
			max-width: 500px;
		}
	}

	.details {
		padding-top: 25px;

		h4 {
			font-size: 1.125rem;
			padding-bottom: 5px;
		}

		p + h4 {
			padding-top: 20px;
		}

		a:hover {
			text-decoration: underline;
		}
	}
}