section.featured-technician {
	padding: 50px 0 0 0;

	@include tablet-landscape {
		padding: 50px 0 0 0;
	}

	.wrapper {
		@include tablet-portrait {
			display: flex;
			justify-content: space-between;
			align-items: center;

			.photo {
				width: calc(33.3333% - 25px);
			}

			.info {
				width: calc(66.6666% - 25px);
				padding-top: 0;
			}
		}
	}

	.info {
		padding-top: 25px;
		text-align: center;

		@include tablet-portrait {
			text-align: left;
		}

		.headline {
			padding-bottom: 20px;
		}

		.copy {
			font-size: 1.25rem;

			a {
				color: $blue;
				text-decoration: underline;
			}
		}
	}
}