section.portal {
	background: $light-gray;
	padding: 20px 0;

	.info {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		max-width: 930px;
		margin: 0 auto;

		.copy {
			flex: 1;
			padding-right: 20px;

			p {
				font-size: 0.875rem;
				line-height: 1.25em;

				@include tablet-portrait {
					font-size: 1em;
					line-height: 1.125em;
				}

				@include tablet-landscape {
					font-size: 1.125rem;
				}
			}
		}

		.cta {
			margin-right: auto;
		}
	}
}