section.values {
	padding: 50px 0;
	text-align: center;

	@include tablet-landscape {
		padding: 100px 0;
	}

	.headline {
		padding-bottom: 25px;
	}

	.copy {
		max-width: 860px;
		margin: 0 auto;

		p {
			line-height: 1.25em;
		}
	}

	.grid {
		grid-gap: 50px 25px;
		padding-top: 50px;

		.item {
			text-align: center;

			.headline {
				padding: 30px 0 10px 0;

				h4 {
					font-size: 1rem;
				}
			}

			.copy {
				padding: 0 10px;

				p {
					line-height: 1.25em;
					font-size: 1rem;
				}
			}
		}
	}
}