section.demo-cta {
	background: $blue;
	color: $white;
	padding: 50px 0;

	.wrapper {
		display: flex;
		align-items: center;
		flex-wrap: wrap;

		@include tablet-portrait {
			flex-wrap: nowrap;
		}
	}

	.video-thumbnail {
		width: 100%;

		img {
			width: 100%;
		}

		@include tablet-portrait {
			max-width: 360px;
		}
	}

	.headline {
		padding-bottom: 10px;
	}

	.copy {
		padding-bottom: 25px;

	}

	.info-wrapper {
		width: 100%;
		padding: 25px 0 0 0;

		@include tablet-portrait {
			width: auto;
			flex: 1;
			padding: 0 0 0 40px;

			.info {
				width: auto;
				flex: 1;
			}

		}

		@include tablet-landscape {
			display: flex;
			align-items: center;

			.copy {
				padding-bottom: 0;
			}

			.cta {
				padding-left: 40px;
				margin-left: auto;
			}
		}
	}
}