#nab-overlay {
    display: none;
    z-index: 1000000;

    .overlay {
        background: rgba(255, 255, 255, 0.95);
    }

    .nab-content {
        box-shadow: 0 0 2rem rgba(0, 0, 0, 0.33);
        max-width: 500px;

        @include tablet-landscape {
            max-width: 700px;
        }
    }
}