aside.banner {
	padding: 20px 0;
	color: $white;
	border-bottom: none;

	&.bg-image {
		background-size: cover;
		background-position: right top;
	}

	.link-wrapper {
		display: flex;
		justify-content: center;

		&:hover {
			strong {
				text-decoration: underline;
			}
		}
	}

	&.has-icon {
		.link-wrapper {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.icon {
			width: 200px;
			margin-right: 1.25rem;
		}

		img {
			width: 100%;
			transform: translateY(3px);
			height: auto;
		}
	}

	.copy {
		text-align: center;
	}


	p {
		text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
		line-height: 1.125em;

		.btn {
			text-shadow: none;
			display: inline-block;
			margin-left: 0.5rem;
			border: 1px solid;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 0.875rem;
			letter-spacing: 0.05em;
			line-height: 0.75rem;
			padding: 0.675rem 1rem 0.5rem 1rem;
			transition: all 0.2s ease;

			&:hover {
				background: $white;
				color: $black;
				border: 1px solid $white;
			}
		}
	}

	strong {
		color: $white;
	}

	&.nab-banner {
		&.bg-image {
			background-size: cover;
			background-position: center center;
		}

		.link-wrapper {
			flex-wrap: wrap;
			justify-content: center;

			&:hover {
				strong {
					text-decoration: none;
				}

				.copy {
					.cta {
						.btn {
							background: $white;
							color: $blue;
							border: 1px solid $white;
						}
					}
				}
			}
		}

		.icon {
			display: flex;
			align-items: center;
			width: 100%;

			@include tablet-portrait {
				width: auto;
				border-right: 1px solid $white;
				padding-right: 1.25rem;
			}

			@include desktop {
				flex: 1;
				justify-content: flex-end;
			}

			img {
				max-width: 180px;

				@include tablet-portrait {
					max-width: 142px;
				}
			}

			.date-time {
				padding-left: 0.5rem;
				p {
					font-size: 0.875rem;
					line-height: 1.375em;
				}
			}
		}

		.copy {
			text-align: left;
			padding-top: 1rem;
			width: 100%;


			@include tablet-portrait {
				width: auto;
				flex: 1;
				padding-top: 0;
				text-align: right;
				display: flex;
				align-items: center;
			}

			@include desktop {
				flex: 2;
			}
		


			&-wrapper {
				p {
					font-size: 0.875rem;
					line-height: 1.375em;

					@include tablet-landscape {
						font-size: 0.9375rem;
					}

					@include desktop {
						font-size: 1rem;
					}

					& + p {
						margin-top: 0.5rem;
					}
				}
				

			}

			.cta {
				padding-top: 1rem;
				padding-left: 0;

				@include tablet-portrait {
					padding-top: 0;
					padding-left: 1.875rem;

				}

				.btn {
					text-shadow: none;
					display: inline-block;
					border: 1px solid;
					border-radius: 3px;
					text-transform: uppercase;
					font-weight: 700;
					font-size: 0.875rem;
					letter-spacing: 0.05em;
					line-height: 0.75rem;
					padding: 0.675rem 1rem 0.5rem 1rem;
					transition: all 0.2s ease;
					color: $white;

					@include tablet-portrait {
						min-width: 142px;
					}
				}
			}
		}
	}
}