nav {
	display: none;

	.info {
		max-width: 1200px;
		width: 100%;
	}

	.overlay {
		background: $black;
	}

	.overlay-wrapper {
		padding: 1.5rem 1.5rem;

		@include mobile-landscape {
			align-items: flex-start;
		}
	}

	.nav-links {
		padding-top: 4rem;
		columns: 1;

		@include mobile-landscape {
			padding-top: 8rem;
			columns: 2;
		}

		@include tablet-portrait {
			max-width: 600px;
		}

		.link {
			padding: 10px 0;
			break-inside: avoid;

			@include tablet-portrait {
				padding: 20px 0;
			}

			a {
				font-weight: 700;
				font-size: 1.25em;
				color: $white;
			}
		}
	}
}

body.nav-overlay-open {
	overflow: hidden;

	header {
		z-index: 10001;
		width: 100%;
		background: transparent;
		box-shadow: none;

		.nav-trigger .patty {
			background: none;

			&:after {
			    top: 0;
			    transform: rotate(45deg);
			}
			&:before {
			    top: 0;
			    transform: rotate(-45deg);
			}
		}

		.main-links {
			opacity: 0;
			display: none;
		}
	}

	nav {
		display: block;	
	}
}