section#contact-overlay {
	display: none;

	.info {
		max-width: 500px;
		width: 100%;
	}

	.contact-content {
		background: $blue;
		color: $white;
		padding: 40px;

		.copy {
			padding: 10px 0 20px 0;
		}

		form {
			input, select {
				appearance: none;
				border-radius: 0;
				border: none;
				font-size: 0.875em;
				font-weight: bold;

				@include placeholder {
					color: $slate;
				}
			}

		}

		.wpforms-field-select {
			padding-top: 2rem;

			.choices__inner {
				cursor: pointer;
			}

		}

		div.wpforms-container .wpforms-form .choices__list--multiple .choices__item {
			background: $blue;
			border-color: $blue;
		}

		div.wpforms-container-full .wpforms-form .wpforms-field.wpforms-has-error .choices__inner {
			border: none;
		}

		div.wpforms-container-full .wpforms-form button[type=submit] {
			background: transparent;
			border: none;
			display: inline-block;
			font-weight: bold;
			text-transform: uppercase;
			font-size: 1.125em;
			padding: 0 0 4px 0;
			color: $white;
			border-bottom: 2px solid $white;
			margin-top: 20px;

		}

		div.wpforms-container-full .wpforms-form label.wpforms-error {
			margin-top: 5px;
			padding: 10px 10px 8px 10px;
			background: #FFCB47;
			font-weight: bold;
			color: $black;
			font-size: 0.8125rem;
		}

		div.wpforms-container-full {
			margin-bottom: 0;
		}

		.wpforms-confirmation-container-full {
			background: transparent;			
			border: none;
			margin: 0px;
			padding: 1rem 0 0 0;

			h3 {
				font-weight: bold;
				font-size: 1.75rem;
				line-height: 1.125em;
				color: $blue;
				padding-bottom: 10px;
			}

			p {
				font-size: 1.125rem;
				line-height: 1.25em;
				color: $white;

				a {
					color: $white;
					text-decoration: underline;
				}
			}
		}
	}
}

body.contact-overlay-open {
	overflow: hidden;


	section#contact-overlay {
		display: block;
	}
}