section#demo-overlay {
	display: none;

	.info {
		max-width: 500px;
		width: 100%;
	}

	.demo-content {
		background: $blue;
		color: $white;
		padding: 40px;

		.copy {
			padding: 10px 0 20px 0;
		}

		form {
			input, select {
				appearance: none;
				border-radius: 0;
				border: none;
				font-size: 0.875em;
				font-weight: bold;

				@include placeholder {
					color: $slate;
				}
			}

			.wpforms-field-select {
				position: relative;

				&:after {
					display: block;
					content: '';
					position: absolute;
					right: 10px;
					top: 25px;
					z-index: 1;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 8px 7px 0 7px;
					border-color: $slate transparent transparent transparent;					
				}				
			}
		}

		div.wpforms-container-full .wpforms-form button[type=submit] {
			background: transparent;
			border: none;
			display: inline-block;
			font-weight: bold;
			text-transform: uppercase;
			font-size: 1.125em;
			padding: 0 0 4px 0;
			color: $white;
			border-bottom: 2px solid $white;
			margin-top: 20px;

		}

		div.wpforms-container-full .wpforms-form label.wpforms-error {
			margin-top: 5px;
			padding: 10px 10px 8px 10px;
			background: #FFCB47;
			font-weight: bold;
			color: $black;
			font-size: 0.8125rem;
		}

		div.wpforms-container-full {
			margin-bottom: 0;
		}

		.wpforms-confirmation-container-full {
			background: $white;
			
			border: none;
			margin: 0px;
			padding: 25px;

			h3 {
				font-weight: bold;
				font-size: 1.75rem;
				line-height: 1.125em;
				color: $blue;
				padding-bottom: 10px;
			}

			p {
				font-size: 1.125rem;
				line-height: 1.25em;
			}
		}
	}
}

body.demo-overlay-open {
	overflow: hidden;


	section#demo-overlay {
		display: block;
	}
}