section.hero-video {
	color: $white;
	
	background: none;
	@include aspect-ratio(4, 6);

	@include mobile-landscape {
		@include aspect-ratio(4, 3);
		max-height: 760px;
	}

	@include tablet-portrait {
		@include aspect-ratio(4, 3);
	}

	@include tablet-landscape {
		@include aspect-ratio(16, 9);
	}

	.bg-video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		pointer-events: none;
		overflow: hidden;
		background: $black;
		
		iframe {
			width: 100vw;
			min-height: 100vw;
			height: 150vw;
			min-width: 263vh;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			@include mobile-landscape {
				height: 100vh;
				min-width: 320vh;
			}

			@include tablet-portrait {
				min-width: 140vh;
			}

			@include tablet-landscape {
				min-width: 177.77vh;
				height: 56.25vw;
			}

		}
	}

	.wrapper {
		height: 100%;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-between;
		z-index: 5;
	}
}



