section.hero {
	@include aspect-ratio(1, 1);

	@include mobile-landscape {
		@include aspect-ratio(16, 9);
		max-height: 760px;	
	}

	@include desktop {
		@include aspect-ratio(1920, 760);
	}

	.photo {
		width: 100%;
		height: 100%;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.info {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
		display: flex;
		align-items: center;
		color: $white;

		.wrapper {
			width: 100%;

			& > * {
				max-width: 540px;

				@include tablet-landscape {
					max-width: 720px;
				}
			}
		}

		.headline {
			h1 {
				font-weight: 900;
				font-size: 2.25rem;

				@include tablet-portrait {
					font-size: 3rem;
				}

				@include tablet-landscape {
					font-size: 3.75rem;
				}
			}
		}

		.copy {
			padding-top: 20px;
		}
	
		.sub-headline {
			padding-top: 20px;

			@include tablet-landscape {
				padding-top: 40px;
			}

			h2 {
				font-size: 1.125em;
				line-height: 1.5em;

				@include tablet-landscape {
					font-size: 1.5em;		
				}	
			}
		}
		
		.cta {
			padding-top: 20px;

			@include tablet-landscape {
				padding-top: 40px;
			}

			a {
				color: $white;
				font-size: 1em;

				@include tablet-landscape {
					font-size: 1.25em;
				}
			}
		}
	}
}