section.recent {
	padding: 50px 0;

	@include tablet-landscape {
		padding: 100px 0;

		.wrapper {
			display: flex;
			justify-content: space-between;				
		}

		article.featured-post {
			width: calc(66.6666% - 25px);
		}

		.recent-posts {
			width: calc(33.3333% - 25px);
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			.articles-wrapper {
				margin-bottom: auto;
			}


		}
		
	}

	article.featured-post {
		.photo {
			img {
				width: 100%;
			}
		}
		.info {
			padding-top: 30px;

			.headline {
				h3 a:hover {
					text-decoration: underline;
				}
			}

			.copy {
				padding: 20px 0;
			}
		}
	}

	.recent-posts {

		.section-header {
			h3 {
				font-family: $nexa-bold;
				text-transform: uppercase;
				letter-spacing: 0.05em;
				padding-bottom: 40px;
			}
		}

		article {
			display: flex;

			& + article {
				padding-top: 60px;
			}

			.info {
				a:hover {
					text-decoration: underline;
				}
			}
		}

		.view-all {
			padding-top: 40px;
			text-align: center;
		}
	}

}