section#video-overlay {
	display: none;

	.info {
		width: 100%;
		max-width: 1200px;
	}
	
	.video-frame {
		@include aspect-ratio(16, 9);
		box-shadow: 0 0 24px rgba(0, 0, 0, 0.5);
		background: $black;
	}
}

body.video-overlay-open {
	overflow: hidden;


	section#video-overlay {
		display: block;
	}
}