section.features {
	padding: 50px 0;

	@include tablet-portrait {
		padding: 100px 0 160px 0;
	}

	.feature {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		background: $very-light-gray;

		@include mobile-landscape {

			&:nth-child(odd) {
				.info {
					order: -1;
				}
			}
		}

		& + .feature {
			margin-top: 30px;
		}

		.info,
		.photo {
			width: 100%;

			@include mobile-landscape {
				width: 50%;
			}
		}

		.info {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.info-wrapper {
			max-width: 373px;
			padding: 40px;

			@include mobile-landscape {
				padding: 40px 0;
			}

			p {
				font-size: 1.375rem;
				line-height: 1.6em;

				@include desktop {
					font-size: 1.875rem;
				}
			}
		}

		.photo {
			@include aspect-ratio(4, 3);

			@include mobile-landscape {
				@include aspect-ratio(1, 1);
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		
	}
}