section.links {
	padding-bottom: 100px;

	@include tablet-portrait {
		padding-bottom: 160px;
	}

	.wrapper {
		max-width: 1467px;
	}

	.headline {
		padding-bottom: 30px;

		h2 {
			font-weight: 900;

			@include tablet-landscape {
				font-size: 2.875rem;
			}
		}
	}

	.link-wrapper {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		.link {

			& + .link {
				margin-top: 30px;

				@include mobile-landscape {
					margin-top: 0;
				}
			}

			.photo {
				width: 100%;
				height: 100%;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			.info {
				position: absolute;
				top: 0;
				right:  0;
				bottom: 0;
				left: 0;
				z-index: 1;
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;

				&-wrapper {
					text-align: center;
					color: $white;
				}

				.headline {
					h3 {
						font-size: 1.75rem;

						@include desktop {
							font-size: 2.5rem;
						}
					}
				}
			}
		}

		.hyperlink {
			width: 100%;
			@include aspect-ratio(620, 310);

			@include mobile-landscape {
				width: calc(50% - 15px);
				@include aspect-ratio(4, 3);
			}

			@include tablet-portrait {
				@include aspect-ratio(620, 310);
			}

			.blue-btn {
				padding: 30px 60px 28px 60px;

				@include tablet-landscape {
					padding: 30px 100px 28px 100px;
				}
			}
		}

		.video {
			width: 100%;

			@include mobile-landscape {
				width: calc(50% - 15px);
			}

			.info {
				align-items: flex-start;
				padding-top: 40px;

				@include mobile-landscape {
					padding-top: 20px;
				}

				@include tablet-landscape {
					padding-top: 40px;
				}

				@include desktop {
					padding-top: 60px;
				}
			}

			.video-trigger {
				display: block;
				@include aspect-ratio(620, 310);
				position: relative;

				@include mobile-landscape {
					@include aspect-ratio(4, 3);
				}

				@include tablet-portrait {
					@include aspect-ratio(620, 310);
				}

				&:after {
					top: auto;
					bottom: 40px;

					@include mobile-landscape {
						bottom: 20px;
					}

					@include tablet-landscape {
						width: 92px;
						height: 92px;
						left: calc(50% - 46px);
						bottom: 40px;
					}

					@include desktop {
						bottom: 60px;
					}
				}

				.headline {
					h3 {
						color: $white;
					}
				}


			}
		}
	}

}