section.message {
	background: $very-light-gray;
	padding: 100px 0;

	@include tablet-portrait {
		padding: 200px 0;
	}

	.wrapper {
		max-width: 1517px;
		padding: 0 25px;
	}

	.copy {
		p {
			line-height: 1.5em;
			font-size: 1.75rem;

			@include tablet-portrait {
				font-size: 2.5rem;
			}

			@include desktop {
				font-size: 3rem;
			}

			strong {
				font-weight: 900;
			}

			a {
				color: $blue;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}