section.page-header {
    padding: 3rem 0;

    @include tablet-landscape {
        padding: 6rem 0;
    }

    .wrapper {
        display: grid;
        gap: 2rem;

        & > * {
            align-self: start;
        }
        
        @include tablet-landscape {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .headline {
        padding-bottom:  0;
        h1 {
            font-size: clamp(2.75rem, 4.25vw, 3.75rem);
        }
    }



}