section.team {
    background: url(images/leadership-bg.jpg) no-repeat 0 0;
    background-size: cover;
    width: 100%;
    min-height: 40vw;
    padding: 3rem 0;

    @include tablet-portrait {
        padding: 6rem 0;
    }

    
    .team-grid {
        display: grid;
        gap: 4rem 2rem;
        grid-template-columns: minmax(0, auto) repeat(2, minmax(auto,  1fr)) minmax(0, auto);
        
        @include tablet-portrait {
            grid-template-columns: minmax(0, auto) repeat(3, minmax(auto,  1fr)) minmax(0, auto);
        }

        @include tablet-landscape {
            grid-template-columns: minmax(2rem, auto) repeat(3, 17.5rem) minmax(2rem, auto);
        }

        @include desktop {
            grid-template-columns: minmax(2rem, auto) repeat(3, 22rem) minmax(2rem, auto);
        }

        .team-member-1,
        .team-member-3,
        .team-member-5,
        .team-member-7,
        .team-member-9,
        .team-member-11 {
            grid-column: 2 / span 1;
        }

        @include tablet-portrait {
            .team-member-4,
            .team-member-7,
            .team-member-10 {
                grid-column: 2 / span 1;
            }

            .team-member-5,
            .team-member-8,
            .team-member-11 {
                grid-column: 3 / span 1;
            }

            .team-member-3,
            .team-member-6,
            .team-member-9,
            .team-member-12 {
                grid-column: 4 / span 1;
            }
        }
    }

    .team-member {
        transition: all 0.4s ease;

        .photo {
            img {
                width: 100%;
            }
        }

        .info {
            background: rgba(0, 0, 0, 0.95);
            color: $white;
            padding: 1rem 1rem 1.75rem 1rem;
            transition: all 0.2s ease;
            margin-top: -2rem;



            @include tablet-portrait {
                margin-top: 0;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
            }

            @include tablet-landscape {
                padding: 2rem 2rem 2.75rem 2rem;
            }

            .name{
                padding-bottom: 0.5rem;

                h3 {
                    font-size: 0.875rem;

                    @include tablet-landscape {
                        font-size: 1.25rem;
                    }
                }
            }

            .position{
                h4 {
                    font-size: 0.875rem;
                    line-height: 1.25em;
                    font-weight: 400;

                    @include tablet-landscape {
                        font-size: 1.25rem;
                    }
                }
            }
        }

        &:hover,
        &.active {
            cursor: pointer;
            transform: scale(1.05);
            transform-origin: center center;

            .info {
                background: $blue;
            }
        }
    }

    .insert {
        grid-column: 1 / -1;
        min-height: 40vh;
        padding: 4rem 0;
        background: rgba(0, 0, 0, 0.7);
        color: $white;
        display: flex;
        align-items: center;
        justify-content: center;

        @include tablet-portrait {
            padding: 6rem 0;
        }

        .insert-wrapper {
            max-width: 90vw;

            @include desktop {
                max-width: 70rem;
            }
        }

        .headline {
            padding-bottom: 1.5rem;

            h4 {
                font-size: clamp(1.375rem, 1.7vw, 1.75rem);
                padding-bottom: 0.25rem;
            }

            h5 {
                font-size: clamp(1rem, 1.2vw, 1.25rem);
                font-weight: normal;
                font-style: italic;
            }
        }

        a.close {
            display: block;
            background: url(images/icon-close-white.svg) no-repeat 0 0;
            background-size: 100%;
            width: 1.5rem;
            height: 1.5rem;
            color: transparent;
            font-size: 0;
            position: absolute;
            right: -0.5rem;
            top: -2.5rem;

            @include tablet-portrait {
                top: -4rem;
            }


            @include desktop {
                right: -2rem;
            }
        }

        .meta {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .badges {
            display: flex;
            align-items: center;
            width: 50%;

            .badge {
                width: clamp(3rem, 10vw, 6rem);
                height: clamp(3rem, 10vw, 6rem);;

                & + .badge {
                    margin-left: 1rem;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }

        .linkedin {
            width: 50%;
            display: flex;
            justify-content: flex-end;
            margin-left: auto;

            a {
                display: block;
                background: url(images/icon-linkedin-white.svg) no-repeat 0 0;
                background-size: 100%;
                width: 2rem;
                height: 2rem;
                color: transparent;
                font-size: 0;


            }

        }
    }


    .bios-container {
        display: none;
    }
}