section.about {
    padding: 3rem 0;

    &::before {
        display: block;
        content: '';
        width: 100%;
        height: 60%;
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        background: #eee;
    }

    @include tablet-portrait {
        padding: 6rem 0;
    }

    .features {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
        padding-top: 2rem;

        @include mobile-landscape {
            grid-template-columns: repeat(2, 1fr);
        }

        @include tablet-portrait {
            grid-template-columns: repeat(3, 1fr);
        }

        .feature {
            background: $white;
            box-shadow: 0px 2px 31px rgba(0, 0, 0, 0.2);
            padding: 2rem;
            text-align: center;
            display: flex;
            align-items: center;

            p {
                line-height: 1.25em;
            }
        }
    }
}