section.details {
    padding: 3rem 0 6rem 0;

    .detail {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        & + .detail {
            margin-top: 3rem;

            @include tablet-portrait {
                margin-top: 6rem;
            }
            
        }

        &:nth-of-type(even) {
            @include tablet-portrait {
                .info {
                    order: -1;
                }
            }
        }

        .photo {
            width: 100%;
            @include aspect-ratio(16, 9);
            
            @include tablet-portrait {
                width: calc(50% - 2rem);

                @include aspect-ratio(1, 1);
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .info {
            padding-top: 2rem;

            @include tablet-portrait {
                padding-top: 0;
                width: calc(50% - 2rem);
            }

            .headline {
                padding-bottom: 0.75rem;
                h4 {
                    font-size: clamp(1.25rem, 1.8vw, 1.5rem);
                    font-weight: bold;
                }
            }

            .copy {
                ul {
                    padding-left: 1.5rem;
                }
            }
        }
    }
}