section.features {
    padding: 3rem 0 6rem 0;


    .features-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

        @include mobile-landscape {
            grid-template-columns: repeat(2, 1fr);
        }

        @include tablet-portrait {
            grid-template-columns: repeat(3, 1fr);
        }        
    }

    .feature {
        padding: 2rem;

        &:nth-child(1) {
            background: rgb(143, 174, 241);
        }

        &:nth-child(2) {
            background: rgb(204, 223, 239);
        }

        &:nth-child(3) {
            background: rgb(113, 153, 236);
            transition: all 0.3s ease-in;

            &:hover {
               box-shadow: 0 0 10px rgba(0, 0, 0, 0.55);
            }
        }

        .graphic {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                display: block;
                max-height: 10rem;
            }
        }

        .headline {
            text-align: center;
            padding-bottom: 0.5rem;
        }

        .copy {
            text-align: center;
            padding-bottom: 2rem;

            p {
                padding-bottom: 0.5rem;
            }

            ul {
                li {
                    padding-bottom: 0.5rem;
                }
            }
        }
    }
}