section.hero {
	@include aspect-ratio(3, 4);

	@include mobile-landscape {
		@include aspect-ratio(16, 9);
		max-height: 760px;	
	}

	@include desktop {
		@include aspect-ratio(1920, 760);
	}

    .info {
        .headline {
            .icon {
                max-width: 48px;

                @include tablet-portrait {
                    max-width: 64px;
                }

                @include desktop {
                    max-width: 80px;
                }
            }

            h1 {
                font-size: clamp(1.5rem, 4vw, 3.75rem);
            }

            br {
                display: none;

                @include tablet-landscape {
                    display: block;
                }
            }
        }

        .copy {
            p {
                font-size: clamp(0.875rem, 1.2vw, 1rem);
                & + p {
                    margin-top: 1rem;
                }
            }
        }
    }

    .info .wrapper > * {
        @include tablet-landscape {
            max-width: 780px;
        }
    }
}